@import 'src/scss/variables';


:host ::ng-deep {

  .mat-checkbox-checkmark {
    top: 0;
    left: 0.14em;
    right: 0;
    bottom: 0;
    position: relative;
    width: 150%;
  }

  .mat-checkbox-inner-container {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    align-self: center;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;
    line-height: 1.57;
    color: rgba(10, 15, 20, 0.75);
  }

  .mat-checkbox-layout {
    white-space: normal;
  }

  .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 50%;
  }

  .mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $success;
  }

  .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    border-color: $grey-medium;
  }

  .mat-checkbox-checkmark-path {
    stroke-width: 4.13333px;
  }
}

.rfq-score {
  background-color: #f7f9fc;
  border-radius: 10px;

  &__title {
    font-weight: $font-weight-semiBold;
    line-height: 1.5;
    color: $black-80;
  }

  &__item-score {
    font-size: 14px;
    line-height: 1.57;
    color: rgba(10, 15, 20, 0.75);

    &-bold {
      font-weight: $font-weight-bold;
    }
  }
}

.score {
  &-bold {
    font-weight: $font-weight-bold;
  }
}

