<div class="forget-container">
    <div class="container">
        <div class="block">
            <div class="forget">
                <div class="forget-title">
                    <h2>{{title}}</h2>
                </div>
                <div class="forget-sub-title">
                    <p>{{sub_title}}</p>
                </div>
                <div class="forget-form">
                    <div class="general-form-content">
                        <form [formGroup]="form" (submit)="submit()">
                            <div class="form-item">
                                <input type="email" id="email"
                                       placeholder="Enter email address"
                                       class="form-control input--primary" formControlName="email">
                                <span class="mat-error" *ngIf="formInputInvalid('email')">
                            <span *ngIf="form.get('email').hasError('required')">Email is required</span>
                            <span *ngIf="form.get('email').hasError('email')&&!form.get('email').hasError('required')">Invalid Email</span>
                        </span>
                            </div>
                            <div class="form-item mb-4 w-100">
                                <button type="submit" class="button button-theme  button-jumbo button-full"><span *ngIf="!submitting;else loader">Reset Password</span> <ng-template #loader><i class="fas fa-spinner fa-spin"></i></ng-template></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
