<div class="container componentStyle">
    <div class="titleDiv">
        <p class="title">Why Choose Us</p>
        <p class="subtitle">The best in the business, to manage your Office</p>
    </div>
    <div class="row justify-content-md-between">
        <div class="col-md-3 text-center">
            <div><img src="../../../../../assets/img/landing/why-choose-us/gear.svg" alt="Gear"> </div>
            <div class="card_title">Verified Experts</div>
            <div class="description">All listed experts, with their expertise in the field of their provided service.</div>
        </div>
        <div class="col-md-3 text-center">
            <div><img src="../../../../../assets/img/landing/why-choose-us/car.svg" alt="Car"> </div>
            <div class="card_title">Honest Pricing</div>
            <div class="description">Fix your budget. Find the most suitable option from all the options.</div>
        </div>
        <div class="col-md-3 text-center">
            <div><img src="../../../../../assets/img/landing/why-choose-us/cart.svg" alt="Cart"> </div>
            <div class="card_title">Secured Payment Method</div>
            <div class="description">End-to-end security for the payment- whatever method you choose.</div>
        </div>
    </div>
</div>
