<div mat-dialog-content>
    <div class="dialog-content-inner">
        <div class="generic-modal">
            <div class="generic-modal__header">
                <p>Close Issue</p>
                <button type="button" class="close" (click)="close()">
                    <i class="material-icons">close</i>
                </button>
            </div>

            <form class="editable__form" [formGroup]="issueInformation" (submit)="submit()">
                <div class="form-group form-add-group row" style="border: none">
                    <label for="note" class="col-md-4 col-form-label">Comment</label>
                    <div class="col-md-8">
                        <input  class="form-control" placeholder="your comment" name="note" id="note" formControlName="note">
                        <p class="error-message" *ngIf="showFormValidationError && issueInformation.get('note').hasError('required')">Note is required</p>
                    </div>
                </div>

                <div class="form-group form-add-group row" style="border: none">
                    <div class="col-md-8 offset-md-4" style="text-align: left">
                        <button class="form-button" mat-button matStepperNext style="margin: 0" type="submit">Confirm Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

