<div class="d-flex justify-content-end mb-3">
    <div class="sorting__month" style="margin-right: 15px">
        <label style="position: relative">
            <select class="sorting__month-select" (change)="selectMonth($event)">
                <option class="sorting__month-option" *ngFor="let month of months" [value]="month.key"
                        [selected]="month.key === currentMonth">
                    {{ month.title }}
                </option>
            </select>
            <i class="material-icons sorting__month-icon">keyboard_arrow_down</i>
        </label>
    </div>

    <a class="btn button--primary--outline downloadBtn" [href]="downloadExcelReport()">Download Report</a>
</div>

<div class="container-fluid small-screen">
    <div class="row">
        <div class="col-md-6 employee-info-container-outside">
            <div class="bg-white p-0 employee-info-container">
                <div class="employee-info-header">
                    <p class="m-0">Employee Info</p>
                </div>
                <hr>
                <div class="employee-info-content">
                    <div class="row m-0 employee-info-content-row-padding">
                        <div class="col-md-4 p-0 employee-info-content-title">
                            <p class="m-0">Employee Name</p>
                        </div>
                        <div class="col-md-8 employee-info-content-value">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="employee-pro-pic image-responsive" [src]="employeeDetails.image"
                                         alt="img">
                                </div>
                                <div class="col-md-10 employee-name-phone">
                                    <div class="employee-name"> {{ employeeDetails.name}} </div>
                                    <div class="employee-phone"> {{ employeeDetails.mobile}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 employee-info-content-row-padding">
                        <div class="col-md-4 p-0 employee-info-content-title">
                            <p class="m-0">Designation</p>
                        </div>
                        <div class="col-md-8 employee-info-content-value">
                            <p class="m-0">{{ employeeDetails.designation }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 employee-info-content-row-padding">
                        <div class="col-md-4 p-0 employee-info-content-title">
                            <p class="m-0">Department</p>
                        </div>
                        <div class="col-md-8 employee-info-content-value">
                            <p class="m-0">{{ employeeDetails.department }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 summary-container-outside">
            <div class="bg-white p-0 summary-container">
                <div class="summary-header">
                    <p class="m-0">Summary</p>
                </div>
                <hr>
                <div class="summary-content">
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">Working Days</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #437ff5"></span>
                                {{attendanceStat.working_days > 1 ? attendanceStat.working_days + ' days' : attendanceStat.working_days + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">Present</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #2ba660"></span>
                                {{attendanceStat.present > 1 ? attendanceStat.present + ' days' : attendanceStat.present + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">Absent</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #555a5e"></span>
                                {{attendanceStat.absent > 1 ? attendanceStat.absent + ' days' : attendanceStat.absent + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">On leave</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #b3b7cc"></span>
                                {{attendanceStat.on_leave > 1 ? attendanceStat.on_leave + ' days' : attendanceStat.on_leave + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">On time</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #2ba660"></span>
                                {{attendanceStat.on_time > 1 ? attendanceStat.on_time + ' days' : attendanceStat.on_time + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">Late</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #fa5252"></span>
                                {{attendanceStat.late > 1 ? attendanceStat.late + ' days' : attendanceStat.late + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">Left Timely</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #29b9cf"></span>
                                {{attendanceStat.left_timely > 1 ? attendanceStat.left_timely + ' days' : attendanceStat.left_timely + ' day' }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-0 summary-content-row-padding">
                        <div class="col-md-4 p-0 summary-content-title">
                            <p class="m-0">Left Early</p>
                        </div>
                        <div class="col-md-8 summary-content-value">
                            <p class="m-0"><span class="dot" style="background-color: #ff8219"></span>
                                {{attendanceStat.left_early > 1 ? attendanceStat.left_early + ' days' : attendanceStat.left_early + ' day' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-table-block mt-10 ipad-design">
    <table mat-table class="main-table-theme" [dataSource]="dataSource">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef style="width: 24%" >
                Date
                <i class="fas fa-sort pl-2 cursor-pointer" (click)="sortDate()"></i>
            </th>
            <td mat-cell *matCellDef="let element">
                <span class="small-screen-date" >{{ element.date }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="check_in">
            <th mat-header-cell *matHeaderCellDef style="width: 30%">
                Check In
                <i class="fas fa-sort pl-2 cursor-pointer" (click)="sortCheckIn()"></i>
            </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.check_in_time" class="p-0 m-0">
                    <div class="row" style="width: 234px; margin-top: 4px">
                        <div class="col-md-5">
                            <span *ngIf="element.check_in_time !== 'On Leave'" >{{ element.check_in_time }}</span>
                        </div>
                        <div class="col-md-4 p-0 m-0" *ngIf="element.checkin_status" [ngSwitch]="element.checkin_status">
                            <span class="attendanceStatus onTime" style="margin-left: -3px;" *ngSwitchCase="'on_time'">On Time</span>
                            <span class="attendanceStatus late" style="margin-left: -3px;" *ngSwitchCase="'late'">Late</span>
                        </div>
                        <div *ngIf="element.is_checkin_remote" class="col-md-2 p-0 m-0">
                            <button class="btn p-0 m-0" ngbTooltip="{{ element.check_in_address }}" placement="top"
                                    tooltipClass="my-custom-class" type="button">
                                <span class="r-design">R</span>
                            </button>
                        </div>
                    </div>
                </div>
                <span *ngIf="element.check_in_time === 'On Leave'" class="attendanceStatus onLeave">On Leave</span>
                <span *ngIf="element.status" class="attendanceStatus absent">Absent</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="check_out">
            <th mat-header-cell *matHeaderCellDef>
                Check Out
                <i class="fas fa-sort pl-2 cursor-pointer" (click)="sortCheckOut()"></i>
            </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.check_out_time" class="p-0 m-0">
                    <div class="row checkout_width">
                        <div class="col-md-5">
                            <span>{{ element.check_out_time }}</span>
                        </div>
                        <div class="col-md-5 p-0 m-0" *ngIf="element.checkout_status" [ngSwitch]="element.checkout_status">
                            <span class="attendanceStatus leftTimely" *ngSwitchCase="'left_timely'">Left Timely</span>
                            <span class="attendanceStatus leftEarly" *ngSwitchCase="'left_early'">Left Early</span>
                        </div>
                        <div *ngIf="element.is_checkout_remote" class="col-md-1 p-0 m-0">
                            <button class="btn p-0 m-0" ngbTooltip="{{ element.check_out_address }}" placement="top"
                                    tooltipClass="my-custom-class" type="button">
                                <span class="r-design">R</span>
                            </button>
                        </div>
                        <div *ngIf="element.note" class="col-md-1 p-0 m-0">
                            <button class="btn p-0 m-0" ngbTooltip="{{ element.note }}" placement="top"
                                    tooltipClass="my-custom-class" type="button">
                                <i class="material-icons-outlined" *ngIf="element.is_checkout_remote" style="padding-left: 12px;margin-top: -1px;color: #4373f5;">text_snippet</i>
                                <i class="material-icons-outlined" *ngIf="!element.is_checkout_remote" style="padding-left: 0px;margin-top: -1px;color: #4373f5;">text_snippet</i>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef style="width: 20%">
                Hours
                <i class="fas fa-sort pl-2 cursor-pointer" (click)="sortHours()"></i>
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.active_hours" >{{ element.active_hours }}</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row, columns: displayedColumns;"  style="cursor: pointer"></tr>
    </table>
</div>

