<div class="d-flex pb-30 mx-0">

    <div class="sorting__department">
        <label>
            <select (change)="selectDepartment($event)">
                <option hidden>Department</option>
                <option value="all" *ngIf="departments.length">All</option>
                <option *ngFor=" let department of departments"
                        [value]="department.id">{{ department.name }}</option>
                <option *ngIf="!departments.length" disabled>No Departments Available</option>
            </select>
            <i class="material-icons">keyboard_arrow_down</i>
        </label>
    </div>

    <div class=" ml-auto d-flex">
        <div class="search-input">
            <button mat-button>
                <span class="material-icons">
                    get_app
                </span>
                <a class="downLink" [href]="downloadReport()">
                    Download Report
                </a>
            </button>
        </div>
        <div class="search-input">
            <i class="material-icons">search</i>
            <input type="text" class="form-control" placeholder="Search" (input)="search($event)">
        </div>
    </div>
</div>


<div class="row pb-20 mx-0 justify-content-between ">

    <div class="col px-0 align-self-center">
        <h5 class="mb-0">{{ total_records }} Records found</h5>
    </div>

    <div class="col px-0 d-flex justify-content-end">


        <div class="sorting__alphabetically mr-20">
            <select (change)="alphabeticSort($event)">
                <option hidden>Sort: Name (alphabetic)</option>
                <option value="asc">Ascending (A-Z)</option>
                <option value="desc">Descending (Z-A)</option>
            </select>
            <i class="material-icons">keyboard_arrow_down</i>
        </div>

        <div class="align-self-center pr-3">
            <span style="color: rgba(0, 0, 0, 0.6); font-size: 14px"> {{ dataOffset }} - {{ currentLength }} of {{ total_records }}</span>
        </div>

        <div id="next-previous-button" class="d-flex">
            <button class="btn" id="prev-button" [class.disabled]="isPreviousPageUnavailable()" (click)="previousPage()">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <button class="btn" id="next-button" [class.disabled]="isNextPageUnavailable()" (click)="nextPage()">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
        </div>

    </div>

</div>
