<div class="vehicle-list-filter">
    <div class="row">

        <div class="col-md-2" style="padding-right: 0">
            <div class="select--primary">
                <select name="" id="statusFilter" (change)="selectStatus($event)">
                    <option selected disabled>Status</option>
                    <option value="active">Active</option>
                    <option value="">All</option>
                </select>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>

        <div class="col-md-2" style="padding-right: 0">
            <div class="select--primary">
                <select name="" id="typeFilter" (change)="selectType($event)">
                    <option selected disabled>Type</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="sedan">Sedan</option>
                    <option value="suv">SUV</option>
                    <option value="passenger_van">Passenger Van</option>
                    <option value="others">Others</option>
                    <option value="">All</option>
                </select>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>

        <div class="col-md-2" style="padding-right: 0">
            <div class="select--primary">
                <select name="" id="departmentFilter" (change)="selectDepartment($event)">
                    <option selected disabled>Department</option>
                    <option *ngFor="let department of departments"
                            [value]="department.name">{{department.name}}</option>
                    <option value="">All</option>
                </select>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>
        <div class="col-md-3 offset-md-1">
            <div class="input-group search-input input-group--primary">
                <div class="input-group-prepend">
                    <i class="material-icons">search</i>
                </div>
                <input type="text" class="form-control" placeholder="Search" (keyup)="search($event)"
                       aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-md-2" style="padding-right: 0">
            <button mat-button [matMenuTriggerFor]="menu" class="btn button--primary--filled add-vehicle-button">
                Add New <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addItem()">Single Upload</button>
                <button mat-menu-item (click)="addBulkVehicle()">Bulk Upload</button>
            </mat-menu>
        </div>
    </div>


    <div class="row d-flex justify-content-between align-items-center" style="margin-top: 15px">
        <div class="col-md-2" style="padding-right: 0">
            <div class="select--primary">
                <select name="" id="ownerFilter" (change)="selectOwner($event)">
                    <option selected disabled>Owner Type</option>
                    <option [value]="'own'">Owner</option>
                    <option [value]="'hired'">Hired</option>
                    <option value="">All</option>
                </select>
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>
        <div class="col-md-2" style="padding-right: 0">
            <div class="select--primary">
                <select name="" id="sortFilter" (change)="selectSort($event)" style="padding: 5px 16px">
                    <option value="0">Ascending</option>
                    <option value="1">Descending</option>
                </select>
                <i class="material-icons" style="top: 5px">keyboard_arrow_down</i>
            </div>
        </div>

        <div class="pagination d-flex align-items-center justify-content-end col">
            <div class="pagination--control d-flex align-items-center">
                <button class="btn" (click)="PreviousPage()"><i class="material-icons">keyboard_arrow_left</i></button>
                <button class="btn" (click)="nextPage()"><i class="material-icons">keyboard_arrow_right</i></button>
            </div>
        </div>
    </div>
</div>
