<ng-container *ngIf="showModal">
    <app-image-modal></app-image-modal>
</ng-container>

<app-head-carousel></app-head-carousel>

<!--<app-test-modal></app-test-modal>-->

<app-trusted-by-section [showTitle]="true"></app-trusted-by-section>

<app-provided-services></app-provided-services>

<app-why-choose-us></app-why-choose-us>

<app-video-walkthroug></app-video-walkthroug>

<app-start-free-trial id="pricing"></app-start-free-trial>

<!--<app-hero-section></app-hero-section>

<app-home-showcase [data]="howItWorksData" cardAlignment="center"></app-home-showcase>

<app-price-plan-section [data]="PricePlan"></app-price-plan-section>-->

<app-services-video-overview></app-services-video-overview>

<app-subscribe-newsletter></app-subscribe-newsletter>

<app-service-gallery></app-service-gallery>

<div style="clear: both">
    <app-feature-testimonial-slider [page]="'home'"></app-feature-testimonial-slider>
</div>

<app-customer-feedback></app-customer-feedback>

<app-join-as-sp-section></app-join-as-sp-section>

<!--new sections end-->

<!--<app-feature-section [data]="createYourBusinessData"></app-feature-section>

<app-feature-section [data]="manageYourRequirementsData"></app-feature-section>

<app-feature-section [data]="procurementData"></app-feature-section>

<app-feature-section [data]="fleetManagementData"></app-feature-section>

<app-home-showcase [data]="OfficeManagementData" cardAlignment="left"></app-home-showcase>

<app-home-form-section></app-home-form-section>

<app-join-as-sp-section [data]="joinSpSectionData"></app-join-as-sp-section>-->





