@import "../../../../../../../../../src/scss/variables";

/* Custom Style for Angular Material Chips */

::ng-deep {
  .mat-autocomplete-panel {
    top: 5px;
    border-radius: 10px !important;
    box-shadow: 0 5px 25px 0 rgba(19, 34, 64, 0.12) !important;
  }
  .mat-option {
    height: 50px;
    padding: 0 20px !important;
    color: rgba(10, 15, 20, 0.75);
  }
  .mat-option:hover:not(.mat-option-disabled){
    background: transparent;
  }
  .mat-option:hover:not(.mat-option-disabled)[id="tagsList"] {
    background: $primary;
    color: $white;
  }
  .mat-option.mat-active {
    background: transparent;
  }
  .mat-option.mat-active[id="tagsList"] {
    background: $primary;
    color: $white;
  }
  .mat-option-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
  }
}

:host ::ng-deep {
  .mat-chip {
    font-weight: 400;

    &-list-wrapper {
      padding: 0;
      & .mat-standard-chip {
        //font-size: 14px;
        font-size: 12px;
        font-weight: $font-weight-bold;
        border-radius: 6px;
        background-color: $grey-medium;
        color: $white;
        min-height: 24px;
        margin: 0 5px 0 0;
      }

      & input.mat-input-element {
        height: 29px;
        margin: 0;
        padding-left: 4px;
      }
    }
  }
  .mat-standard-chip  {

    &.mat-chip-with-trailing-icon {
      // Positioning the content inside the chips
      padding: 3px 14px !important;
    }

    & .mat-chip-remove,
    & .mat-chip-trailing-icon {
      height: 16px;
      width: 16px;
    }
  }
  #close-material-chips-icon {
    // Positioning the close icon of chips
    font-size: 13px;
    position: relative;
    left: 5px;
    top: 3px;
    color: $white;
    opacity: 1;
    margin-left: 0;
  }
  .mat-form-field-appearance-outline {

    & .mat-form-field-outline {
      &-thick {
        // Border Color When Input is Focused
        color: $input-focus-border-color;
        // Border With When Input is Focused or Hovered
        & .mat-form-field-outline-end,
        & .mat-form-field-outline-gap,
        & .mat-form-field-outline-start {
          border-width: 1.5px;
        }
      }

      &-start, &-end {
        min-width: 0;
      }
      &-start {  border: none }
      &-end {
        border-radius: 10px;
        border-left-style: solid;
      }
    }

    & .mat-form-field {
      width: 100%;
      &-outline {
        color: $grey-medium;
      }

      &-infix {
        border: 0;
        padding: 13.5px 0 10.5px 0;
      }

      &-flex {
        padding: 0 15px;
      }

      &-wrapper {
        margin: 0;
        padding-bottom: 0;
        background: $grey-light;
        border-radius: 10px;
        color: $input-text-color;
      }
    }

    // Outline Color When Input is focused
    &.mat-focused .mat-form-field-outline-thick {
      color: $primary;
    }

  }
  .mat-form-field {
    width: 100%;
  }
}

input[id="tags"]::placeholder {
  font-size: 14px;
  color: $black-40;
}

/* Custom Style for Angular Material Chips */
