.inner-form{
  max-height: 0;
  overflow: hidden;
  -webkit-transition:max-height .5s cubic-bezier(0,1,0,1);
  -moz-transition:max-height .5s cubic-bezier(0,1,0,1);
  -ms-transition:max-height .5s cubic-bezier(0,1,0,1);
  -o-transition:max-height .5s cubic-bezier(0,1,0,1);
  transition:max-height .5s cubic-bezier(0,1,0,1);
  &.open{
    max-height: 1000px;
    -webkit-transition:max-height .5s cubic-bezier(1,0,0,1);
    -moz-transition:max-height .5s cubic-bezier(1,0,0,1);
    -ms-transition:max-height .5s cubic-bezier(1,0,0,1);
    -o-transition:max-height .5s cubic-bezier(1,0,0,1);
    transition:max-height .5s cubic-bezier(1,0,0,1);
  }
}
