@import "../../../../../../../src/scss/variables";

.vehicle-info {
  display: flex;
  margin-bottom: 0;
  li {
    color: $black60;
    list-style: circle inside $black60;
    margin-left: 10px;
  }
  span i {
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    &.active {
      color: $active_color;
    }
    &.inactive {
      color: $inactive_color;
    }
  }
}

.issue-actions {
  text-align: right;
  display: flex;
  justify-content: right;
  button {
    margin-left: 10px;
    padding: 10px 16px;
  }
}

.attachment {
  padding: 24px;
  .attachment__item {
    padding: 16px 0;
    border-bottom: 1px solid #e5ebfa;
    font-size: 12px;
    .attachment__buttons {
      a {
        color: $theme-color;
        margin-left: 10px;
        i {
          font-size: 16px;
        }
      }
    }
  }
}
