@import "src/scss/variables";
@import "src/scss/colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600,500&display=swap');

.container {
  padding: 0;
  margin-bottom: 30px;
  .item {
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width: 390px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 50px 30px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(19, 34, 64, 0.1);
    transition: all ease-in-out .2s !important;
    word-break: break-word;

    &:hover {
      box-shadow: 0 5px 25px 0 rgba(19, 34, 64, 0.12);
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &__description {
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: 15px;
    }

    &__tags {
      font-size: 12px;
      display: flex;
      margin-bottom: 15px;

      &__tag {
        padding: 0 10px;
        background: $grey-medium;
        color: white;
        border-radius: 15px;
        margin-right: 10px;
      }
    }

    &__category {
      align-items: center;
      display: flex;
      font-size: 12px;
      margin-bottom: 15px;
      img {
        height: 20px;
        margin-right: 10px;
      }
    }

    &__budget {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
    }
  }
}

.badge {
  justify-content: flex-end;
  font-size: 12px;
  line-height: 1.33;
  background: $table-header-dark;
  color: white;
  position: absolute;
  width: auto;
  height: 52px;
  top: 10px;
  right: 0;
  border-radius: 100px 0 0 100px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 0;

  &:hover {
    .badge-text {
      font-size: 12px;
    }
  }

  img {
    width: 30px;
    height: 32px;
    margin: 0 6px 0 15px;
  }

  .badge-text {
    font-weight: 600;
    font-size: 0;
    transition: all ease-in-out .3s;
  }
}
