<div class="componentStyle">
    <div style="margin-bottom: 15px">
        <p class="title">How It Works</p>
    </div>


    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="position: relative" (click)="playVideo()">
            <img class="thumbnail" src="../../../../../assets/img/digigo-landing/how-it-works/how_it_works.png" alt="How It Works">
            <div class="overlay"></div>
            <img class="playIcon" src="../../../../../assets/img/landing/miscellaneous/playicon.svg" alt="">
        </div>
    </div>

</div>
