<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 p-0">
            <p *ngIf="showSuccessAlert">
                <ngb-alert type="success" [dismissible]="true" *ngIf="!successAlertClosed"
                           (close)="successAlertClosed = true">
                    <img class="ribbon-img" src="../../../../../../assets/svg/succes_img_ribbon.svg" alt="Success">
                    Settings updated successfully
                </ngb-alert>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 bg-white p-0 leave-settings-others-info-container">
            <div class="leave-settings-others-info-header">
                <p class="m-0">Other leave Information</p>
            </div>
            <hr>
            <div class="leave-settings-others-info-content">
                <div class="row m-0 leave-settings-others-info-row-space">
                    <div class="col-md-4 p-0">
                        <p class="m-0 d-flex">
                            <span class="leave-others-title-text"> Sandwich Leave </span> &nbsp;
                            <button type="button" class="btn p-0" placement="top"
                                    ngbTooltip="Leave shall be deducted for even weekends and holidays"
                                    closeDelay="10" tooltipClass="my-custom-class">
                                <i class="material-icons leave-others-title-icon">info_outline</i>
                            </button>
                        </p>
                    </div>
                    <div class="col-md-8 p-0 leave-settings-others-info-value">
                        <p class="m-0"> {{ others_info.sandwich_leave ? 'Activated' : 'Not Activated' }} </p>
                    </div>
                </div>
                <hr>
                <div class="row m-0 leave-settings-others-info-row-space">
                    <div class="col-md-4 p-0">
                        <p class="m-0 d-flex">
                            <span class="leave-others-title-text"> Fiscal Year </span> &nbsp;
                            <button type="button" class="btn p-0" placement="top"
                                    ngbTooltip="One year period that companies and governments use for financial reporting and budgeting."
                                    closeDelay="10" tooltipClass="my-custom-class">
                                <i class="material-icons leave-others-title-icon">info_outline</i>
                            </button>
                        </p>
                    </div>
                    <div class="col-md-8 p-0 leave-settings-others-info-value">
                        <p class="m-0"> {{ others_info.fiscal_year}} </p>
                    </div>
                </div>
                <hr>
                <div class="row m-0">
                    <div class="col-md-4 p-0">
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="leave-settings-others-info-edit">
                            <button class="mat-button-edit" (click)="goToEdit()"> Edit Information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

