@import 'src/scss/variables';
hr{
  margin: 0;
}

.leave-settings-others-info {
  &-container{
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(19, 34, 64, 0.1);
  }
  &-header{
    margin: 0;
    padding: 14px 30px;
    opacity: 0.8;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }
  &-row-space{
    padding: 15px 0px;
  }
  &-content{
    padding: 0 30px;
  }
  &-title{
    opacity: 0.6;
    font-family: Poppins;
    font-size: 14px;
    color: #000000;
  }
  &-value{
    opacity: 0.8;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
  &-edit{
    padding: 30px 0 30px 0;
  }
}

.leave-others-title {
  &-icon{
    display: flex;
    font-size: 18px;
    color: #4e79ec;
    margin-top: -4px;
    margin-left: 3px;
  }
  &-text{
    opacity: 0.6;
    font-family: Poppins;
    font-size: 14px;
    color: #000000;
  }
}

.mat-button-edit{
  font-size: 12px;
  line-height: 1.5px;
  font-weight: 600;
  color: #437ff5;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  border: solid 1px #4373f5;
  background: #fff;
}

:host ::ng-deep .my-custom-class .tooltip-inner {
  max-width: 400px;
  width: 242px;
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 14px;
  line-height: 24px;
  text-align: left;
  font-family: Poppins;
  font-size: 14px;
}

.ribbon-img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 5px;
}

:host ::ng-deep .alert-success {
  color: #ffffff;
  background-color: #12b886;
  border-radius: 8px;
  justify-content: left;
  font-family: Poppins;
  font-size: 14px;
  .close {
    color: #0b0b0b;
    font-weight: 300;
    font-size: 30px;
    margin-top: -2px;
  }
}

@media screen and (min-width: 1600px) {
  .container-fluid {
    padding-right: 24%;
  }
}

@media screen and (max-width: 768px) {
  .col-md-7 {
    flex: 0 0 112%;
    max-width: 112%;
  }
}
