<div class="block-select">
    <div class="block-select-container-wrapper">
        <div class="block-select-container" id="block-container"  #container>
            <div class="block-select-items" #content>
                <div class="block-select-item-container" *ngFor=" let item of items"
                     [ngClass]="{active:item[bindValue]==selected}">
                    <div class="block-select-item">
                        {{item[bindTitle]}}
                        <span class="block-select-item-check"><i class="fa fa-check "></i></span>
                    </div>
                    <input type="radio" class="block-select-item-checkbox" (change)="selectItem()"
                           [(ngModel)]="selected"
                           [value]="item[bindValue]">
                </div>
            </div>
        </div>

    </div>
    <button *ngIf="hasOverflowLeft" type="button"
            class="block-select-nav button-icon button-fav button cool-shadow  nav-left"
            (click)="previous()"><i
            class="fa fa-chevron-left"></i></button>
    <button type="button" class="block-select-nav button-icon button-fav button cool-shadow  nav-right"
            (click)="next()" *ngIf="hasOverflowRight"><i
            class="fa fa-chevron-right"></i></button>
</div>
