<div class="container">
    <div class="row pt-100">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h3 class="title">Looking Forward to Serve Corporate Clients?</h3>
            <p class="subtitle">Connect with corporate companies, expand more, earn more.</p>
            <a mat-button class="trialButton" href="https://www.smanager.xyz/" target="_blank">
                Join as Service Provider
            </a>
        </div>
        <div class="col-lg-6 d-flex">
            <img class="teamImage img-fluid" src="../../../../../assets/img/landing/join-as-sp/vendors.jpg" alt="Sheba.xyz Vendors">
        </div>
    </div>
</div>

<!--<div class="container outerDiv">-->
<!--    <div class="row innerRow">-->
<!--        <div class="col-md-6 colLeft">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="title col-md-12">-->
<!--                        Looking Forward to Serve Corporate Clients?-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="subtitle col-md-12">-->
<!--                        Connect with corporate companies, expand more, earn more.-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="btnDiv col-md-12">-->
<!--                        <button mat-button class="trialButton">-->
<!--                            Join as Service Provider-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 image" class="image">-->
<!--            <img class="teamImage" src="../../../../../assets/img/landing/home/service-provider/vendors.jpg" alt="Sheba.xyz Vendors">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
