<router-outlet></router-outlet>
<div class="help-container" [ngClass]="{open: isSidebarOpen}">
    <div class="help-content">
        <div class="help-content-info">
            <span class="material-icons help-content-info__icon">info_outline</span>
            <p class="help-content-info__title"> To know all about Leave settings </p>
        </div>
        <a class="help-content-link" target="_blank" [href]="redirectToHelp()">
            <span class="help-content-link__title"> Go to Help Center</span>
            <span class="material-icons help-content-link__icon">keyboard_backspace</span>
        </a>
    </div>
</div>
