<div class="container outerContainer">
    <div class="container" style="display: contents">
        <p class="title">Trusted by 700+ businesses across different industries</p>
        <div class="row">
            <div class="col-md-7 first" style="text-align: center">
                <div class="rowUp">
                    <img class="epyllion" src="../../../../../assets/img/landing/trusted-partners/epyllion.png"
                         style="width: auto; height: auto;" alt="">
                    <img class="brac" src="../../../../../assets/img/landing/trusted-partners/brac.png"
                         style="width: auto; height: auto;" alt="">
                    <img class="a21" src="../../../../../assets/img/landing/trusted-partners/a21.png" alt="">
                </div>
            </div>
            <div class="col-md-5" style="text-align: center">
                <div class="rowDown">
                    <img class="phillip_logo" src="../../../../../assets/img/landing/trusted-partners/phillip_logo.png"
                         alt="">
                    <img class="grameenphone" src="../../../../../assets/img/landing/trusted-partners/grameenphone.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>
