<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../../../../assets/img/service_gallery/cs.png" alt="Random first slide">
                            </div>
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">What Our Users Say</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">We’ve taken cleaning service for our office from Sheba.xyz Business. They know what to do and how to do it. They always maintain the timing, without hampering their service quality. Very professional indeed.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Mr. Saiful Islam</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Manager, Administration | Shohoz limited</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>-->
                </ng-template>
                <ng-template ngbSlide>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../../../../assets/img/service_gallery/ss.png" alt="Random first slide">
                            </div>
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">What Our Users Say</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">They always maintain the timing, without hampering their service quality. We’ve taken cleaning service for our office from Sheba.xyz Business. They know what to do and how to do it. Very professional indeed.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Mr. Saiful Islam</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Manager, Administration | Shohoz limited</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>-->
                </ng-template>
                <ng-template ngbSlide>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../../../../assets/img/service_gallery/om.png" alt="Random first slide">
                            </div>
                            <div class="col-md-6">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">What Our Users Say</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">They always maintain the timing, without hampering their service quality. Very professional indeed.</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Mr. Saiful Islam</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">Manager, Administration | Shohoz limited</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>-->
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>

