<div class="details-container container-fluid">
    <div class="row">
        <div class="col-md-5 pl-0">
            <app-rfq-orders-details-general-info [order]="order"></app-rfq-orders-details-general-info>
            <app-rfq-orders-details-documents [order]="order"></app-rfq-orders-details-documents>
        </div>
        <div class="col-md-7 pr-0">
            <app-rfq-orders-details-description [order]="order"></app-rfq-orders-details-description>
            <app-rfq-orders-details-quotation [order]="order"></app-rfq-orders-details-quotation>
        </div>
    </div>
</div>
