@import "../../../../../../../scss/variables";
@import "../../../../../../../scss/colors";

.details-container {
  margin-top: 20px;
  margin-bottom: 70px;
}

.section {
  border-radius: 10px;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(19, 34, 64, 0.1);
  margin-bottom: 20px;

  &-head {
    border-bottom: solid 1px #d3d8e6;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding: 12px 30px;
  }

  &-body {
    padding: 25px 30px 35px;
  }
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}
