@import "../../../../../../src/scss/variables";


.partner-list {
  border: 1px solid $light_bluish_grey;
  padding: 15px;
  border-radius: 4px;
  background-color: $white;
  padding-bottom: 120px;
}
