@import "../../../../../../src/scss/variables";
@import "../../../../../../src/scss/layouts";
@import "../../../../../../src/scss/journey";

.subscription-additional-info {
  border: 1px solid $light_bluish_grey;
  padding: 24px;
  border-radius: 4px;
  background-color: $white;
  padding-bottom: 10%;
  width: 100%;
}

.subscription-additional-info-header {
  background-color: $cream_grey;
  font-size: 18px;
  color: $black;
  padding: 15px 16px;
  margin-bottom: 16px;
  position: relative;
  font-weight: 500;
  display: block;
  vertical-align: middle;
  line-height: 1;

}
.subscription-additional-info-textarea-header {
  font-size: 18px;
  font-weight: 500;
}

.subscription-additional-info-textarea {
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

