<div class="vehicle-card d-flex align-items-center">
    <img src="../../../../../../../assets/img/general-root/grameenphone.png" alt="">
    <div class="vehicle-info">
        <p>Toyota Camry 2018</p>
        <div class="vehicle-info__info d-flex align-items-center">
            <p><i class="material-icons" style="font-size: 12px">brightness_1</i> Active</p>
            <li>Car</li>
            <li>Management</li>
            <i class="material-icons" style="font-size: 14px; margin-left: 10px">more</i>
        </div>
    </div>
</div>
