<div class="main-contents container">
    <div class="row">
        <div class="title col-md-12 d-flex justify-content-center">
            Why Choose Us?
        </div>
    </div>
    <div class="row">
        <div class="feature-card d-flex col-md-6">
            <div class="image-container">
                <div class="image">
                    <img src="../../../../../assets/svg/icons/digigo-landing/choose/easy.svg" alt="easy">
                </div>
            </div>
            <div class="texts d-flex flex-column">
                <div class="texts__title">
                    Easy
                </div>
                <div class="texts__description">
                    HR friendly tool which is easy to setup and user can use it instantly
                </div>
            </div>
        </div>
        <div class="feature-card d-flex col-md-6">
            <div class="image-container">
                <div class="image">
                    <img src="../../../../../assets/svg/icons/digigo-landing/choose/fast.svg" alt="fast">
                </div>
            </div>
            <div class="texts d-flex flex-column">
                <div class="texts__title">
                    Fast
                </div>
                <div class="texts__description">
                    Made to make your work life super fast. Do everything on the go
                </div>
            </div>
        </div>
        <div class="feature-card d-flex col-md-6 mt-80">
            <div class="image-container">
                <div class="image">
                    <img src="../../../../../assets/svg/icons/digigo-landing/choose/low_fee.svg" alt="low_fee">
                </div>
            </div>
            <div class="texts d-flex flex-column">
                <div class="texts__title">
                    Simple Plans
                </div>
                <div class="texts__description">
                    Variety services in one platform with nominal pricing which will be never a problem
                </div>
            </div>
        </div>
        <div class="feature-card d-flex col-md-6 mt-80">
            <div class="image-container">
                <div class="image">
                    <img src="../../../../../assets/svg/icons/digigo-landing/choose/support.svg" alt="support">
                </div>
            </div>
            <div class="texts d-flex flex-column">
                <div class="texts__title">
                    Quick Support
                </div>
                <div class="texts__description">
                    Never feel a problem. 24x7 support center with a dedicated Customer Success Manager
                </div>
            </div>
        </div>
    </div>
</div>
