<div class="vehicle-details-assignment__header d-flex justify-content-between align-items-center">
    <h5>Recent Assignments</h5>

    <a href="#" [routerLink]="['/','dashboard', 'fleet-management','assignments','all']" class="btn btn-link">View
        All</a>
</div>

<table class="table theme-table vehicle-details-assignment__table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Status</th>
        <th scope="col">Assign to</th>
        <th scope="col">Driver</th>
        <th></th>
    </tr>
    <div class="tgap"></div>
    </thead>
    <tbody *ngIf="assignments && assignments.length">
    <tr valign="middle" *ngFor="let assignment of assignments">
        <th scope="row">#{{assignment.id}}</th>
        <td>{{assignment.status}}</td>
        <td class="d-flex align-items-center">
            <img src="https://i.ibb.co/bXqhnhG/user.png"
                 onerror="this.src='https://i.ibb.co/bXqhnhG/user.png'">
            <span>{{assignment.assigned_to}}</span>
        </td>
        <td>{{assignment.driver}}</td>
        <td><i class="material-icons">chevron_right</i></td>
    </tr>
    <div class="tgap"></div>
    </tbody>
    <p *ngIf="!assignments.length">
        No Recent Assignments
    </p>
</table>
