:host ::ng-deep .my-custom-class .tooltip-inner {
  max-width: 400px;
  width: 242px;
  background: #000000;
  border-radius: 5px;
  color: #ffffff;
  padding: 14px;
  line-height: 24px;
  text-align: left;
  font-family: Poppins;
  font-size: 14px;
}

.info-icon {
  display: flex;
  font-size: 22px;
  color: #4373f5;
}
