<div class="main-contents container">
    <div class="row">
        <div class="title col-md-12">
            Our Main Features
        </div>
    </div>

    <div class="row feature-card">
        <div class="feature-card__bullets col-md-6 order-md-2">
            <div class="fit-content">
                <div class="bullet-title">Attendance</div>
                <div class="bullet-heading">Make your attendance hassle free & organized</div>
                <div class="bullet-points">
                    <ul [ngStyle]="{'list-style-image': 'url(' + listStyles.green + ')'}">
                        <li><span>In-app check in/out</span></li>
                        <li><span>Get report on hand</span></li>
                        <li><span>Get Exact time count regularly</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-card__image col-md-6">
            <img src="../../../../../assets/svg/icons/digigo-landing/main-features/attendance.svg" alt="attendance">
        </div>
    </div>
    <div class="row feature-card">
        <div class="feature-card__bullets align-items-start col-md-6">
            <div class="fit-content">
                <div class="bullet-title">Leave</div>
                <div class="bullet-heading">Track your yearly and monthly leaves in one platform</div>
                <div class="bullet-points">
                    <ul [ngStyle]="{'list-style-image': 'url(' + listStyles.yellow + ')'}">
                        <li><span>Leave application from app</span></li>
                        <li><span>Leave balance view</span></li>
                        <li><span>List and details of all leave</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-card__image col-md-6">
            <img src="../../../../../assets/svg/icons/digigo-landing/main-features/leave.svg" alt="attendance">
        </div>
    </div>
    <div class="row feature-card">
        <div class="feature-card__bullets col-md-6 order-md-2">
            <div class="fit-content">
                <div class="bullet-title">Expense</div>
                <div class="bullet-heading">Apply for different expenses with auto calculation</div>
                <div class="bullet-points">
                    <ul [ngStyle]="{'list-style-image': 'url(' + listStyles.blue + ')'}">
                        <li><span>Attach supporting documents</span></li>
                        <li><span>Auto expense calculation</span></li>
                        <li><span>Expense log with report downloading feature</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-card__image col-md-6">
            <img src="../../../../../assets/svg/icons/digigo-landing/main-features/expense.svg" alt="attendance">
        </div>
    </div>
    <div class="row feature-card">
        <div class="feature-card__bullets align-items-start col-md-6">
            <div class="fit-content">
                <div class="bullet-title">Notice</div>
                <div class="bullet-heading">Shoot official announcements to your co-workers</div>
                <div class="bullet-points">
                    <ul [ngStyle]="{'list-style-image': 'url(' + listStyles.red + ')'}">
                        <li><span>Get notification</span></li>
                        <li><span>Quick view of recent notices</span></li>
                        <li><span>View all official announcements</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="feature-card__image col-md-6">
            <img src="../../../../../assets/svg/icons/digigo-landing/main-features/notice.svg" alt="attendance">
        </div>
    </div>
</div>
