.custom-swich {
  ::ng-deep {
    .mat-slide-toggle .mat-slide-toggle-thumb {
      transform: scale(1.3);
    }
    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
      background-color: #56a667;
    }
    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
      background-color: #fff;
    }
    .mat-slide-toggle.mat-checked .mat-ripple-element {
      background-color: #56a667;
    }
  }
}

