<div class="driver-info">
    <h5>License Information</h5>
    <form class="editable__form" *ngIf="licenseInformationData" [formGroup]="licenseInformation">
        <ng-template matStepLabel>License Information</ng-template>
        <div class="form-group form-add-group row">
            <label for="vehicleType" class="col-sm-4 col-form-label">Vehicle Type</label>
            <div class="col-sm-8">
                <div class="select--primary editable__select">
                    <select name="driverDepartment" id="vehicleType" formControlName="vehicleType" [disableFormControl]="!licenseInformationEnable" required>
                        <option value="" disabled selected>N/A</option>
                        <option value="hatchback">Hatchback</option>
                        <option value="sedan">Sedan</option>
                        <option value="suv">SUV</option>
                        <option value="passenger_van">Passenger Van</option>
                        <option value="others">Others</option>
                    </select>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="form-group form-add-group row">
            <label for="department" class="col-sm-4 col-form-label">Drive For</label>
            <div class="col-sm-8">
                <div class="select--primary editable__select">
                    <select name="department" id="department" formControlName="department" [disableFormControl]="!licenseInformationEnable" required>
                        <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                    </select>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="form-group form-add-group row">
            <label for="licenseNumber" class="col-sm-4 col-form-label">License Number</label>
            <div class="col-sm-8">
                <input placeholder="Driver ID" type="text" class="form-control" id="licenseNumber" formControlName="licenseNumber" [disableFormControl]="!licenseInformationEnable" required>
                <div class="info-attachment d-flex" *ngIf="!licenseInformationEnable">
                    <span>{{limitString(licenseInformationData.license_number_image.split('/').pop())}}</span>
                    <span>
                        <a [href]="licenseInformationData.license_number_image" target="_blank"><i class="material-icons">remove_red_eye</i></a>
                        <a [href]="licenseInformationData.license_number_image" download><i class="material-icons">file_download</i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group form-add-group row">
            <label for="licenseEndDate" class="col-sm-4 col-form-label">License End Date</label>
            <div class="editable__date-picker col-sm-3">
                <mat-datepicker #licenseEndDatePicker></mat-datepicker>
                <input class="form-control"
                       (focus)="licenseEndDatePicker.open()"
                       matInput [matDatepicker]="licenseEndDatePicker"
                       placeholder="DD / MM / YYYY"
                       id="licenseEndDate" formControlName="licenseEndDate"
                       [disableFormControl]="!licenseInformationEnable" required>
                <span class="editable__date-picker__toggle"><mat-datepicker-toggle matSuffix [for]="licenseEndDatePicker"></mat-datepicker-toggle></span>
            </div>
            <div class="col-sm-2" *ngIf="licenseInformationData.due_status !== ''">
                    <span class="due-status" [ngClass]="driverDueStatus(licenseInformationData.due_status)">
                        <span class="dot-before" [ngClass]="driverDueStatusDot(licenseInformationData.due_status)">
                            {{ licenseInformationData.due_status }}
                        </span>
                    </span>
            </div>
        </div>
        <div class="form-group form-add-group row">
            <label for="licenseClass" class="col-sm-4 col-form-label">License Class</label>
            <div class="col-sm-8">
                <!--<input placeholder="Driver ID" class="form-control" id="licenseClass" formControlName="licenseClass" [disableFormControl]="!licenseInformationEnable" required>-->
                <div class="select--primary editable__select">
                    <select name="driverDepartment" id="licenseClass" formControlName="licenseClass" [disableFormControl]="!licenseInformationEnable" required>
                        <option value="" disabled selected>N/A</option>
                        <option value="heavy">Heavy</option>
                        <option value="light">Light</option>
                        <option value="both">Both</option>
                    </select>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <div class="form-group form-add-group row">
            <label for="issueAuthority" class="col-sm-4 col-form-label">Issue Authority</label>
            <div class="col-sm-8">
                <input placeholder="Driver ID" class="form-control" id="issueAuthority" formControlName="issueAuthority" [disableFormControl]="!licenseInformationEnable" required>
            </div>
        </div>

        <div class="d-flex container">
            <button class="form-button" mat-button matStepperNext *ngIf="!licenseInformationEnable" (click)="licenseInformationEnable = true">Edit</button>
            <button class="form-button" mat-button matStepperNext *ngIf="licenseInformationEnable" (click)="submitLicenseInfo()">Submit</button>
        </div>
    </form>

</div>
