<div class="outer-container">
    <div class="main-contents container">
        <div class="mobile-title row">
            <div class="col-md-12">
                Get The App Now
            </div>
        </div>
        <div class="content-row row">
            <div class="app-screen col-md-6">
                <img class="digigo-app" src="../../../../../assets/img/digigo-landing/get-the-app/get_app.png" alt="app_screen">
            </div>
            <div class="d-flex align-items-center justify-content-center col-md-6">
                <div class="texts">
                    <div class="texts__title">Get The App Now</div>
                    <div class="texts__description">Seamless user flow, with eye-catchy visual interface design which will help you in your daily work life.</div>
                    <div class="texts__description-mobile">You can find us in both popular platform, <br>We support</div>
                    <div class="texts__icons-mobile">
                        <img class="texts__icons__playstore" src="../../../../../assets/svg/icons/digigo-landing/get-the-app/playstore.svg" alt="">
                        <img src="../../../../../assets/svg/icons/digigo-landing/get-the-app/appstore.svg" alt="">
                    </div>
                    <div class="texts__buttons">
                        <button mat-button class="button button--trial" (click)="getFreeTrial()">Get Free Trial</button>
                        <button mat-button class="button button--call">Call 16516</button>
                    </div>
                    <div class="texts__icons">
                        <img class="texts__icons__playstore" src="../../../../../assets/svg/icons/digigo-landing/get-the-app/playstore.svg" alt="" (click)="getApp(appLinks.playstore)">
                        <img src="../../../../../assets/svg/icons/digigo-landing/get-the-app/appstore.svg" alt="" (click)="getApp(appLinks.appstore)">
                    </div>
                    <div class="texts__notes">You can find us in both popular platform, We support</div>
                </div>
            </div>
        </div>
    </div>
    <img class="dots-left" src="../../../../../assets/svg/icons/digigo-landing/dots_pattern.svg" alt="">
</div>

