@import '../../../../../../../../../src/scss/variables';

.vehicle-info {
  display: flex;
  margin-bottom: 0;
  font-size: 12px;

  li {
    color: $black60;
    list-style: circle inside $black60;
    margin-left: 10px;
  }

  span i {
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top: 2px;

    &.active {
      color: $active_color;
    }

    &.inactive {
      color: $inactive_color;
    }
  }
}

.vehicle-info__img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

mat-form-field {
  background-color: white;
}
