<div class="list-filter d-flex justify-content-between">
    <div class="form-item horizontal mr-2">
        <mat-form-field appearance="outline">
            <mat-select placeholder="Inspection Form" (selectionChange)="OnFilter()">
                <mat-option>La</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="pagination d-flex align-items-center justify-content-end col">
        <!--<p>37 Records found</p>-->
        <div class="pagination--control d-flex align-items-center">

            <button class="btn" (click)="PreviousPage()"><i class="material-icons">keyboard_arrow_left</i></button>
            <!--<p><span>1</span> / 5</p>-->
            <button class="btn" (click)="nextPage()"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
    </div>
</div>

<div class="main-content-block">
    <div class="main-content-table" *ngIf="inspections">
        <table *ngIf="(inspections.length && dataSource)" mat-table [dataSource]="dataSource"
               class="table  designer-table">
            <ng-container matColumnDef="vehicle">
                <th mat-header-cell style="min-width: 30%" *matHeaderCellDef>Vehicle</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex" style="margin-top: 10px; margin-bottom: 10px">
                        <img src="https://i.ibb.co/VqhqtZ8/image.png" class="vehicle-info__img" alt="">
                        <div>
                            <p style="margin-bottom: 3px">{{element.vehicle.vehicle_model}}</p>
                            <div class="vehicle-info">
                                 <span><i class="material-icons"
                                          [class.active]="element.vehicle.status === 'active'"
                                          [class.inactive]="element.vehicle.status === 'inactive'"
                                 >brightness_1</i>{{element.vehicle.status}}</span>
                                <li>{{element.vehicle.vehicle_type}}</li>
                                <li>{{element.vehicle.assigned_to }}</li>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="schedule">
                <th mat-header-cell *matHeaderCellDef>Schedule</th>
                <td mat-cell *matCellDef="let element">
                    <p style="margin-bottom: 10px">{{element.schedule}}</p>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button class="button button-flat button-fav"
                            [routerLink]="['/','dashboard','fleet-management', 'submit-inspection','schedule', 'submit', element.id]"><i
                            class="fa fa-chevron-right"></i>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
        <div class="no-driver" *ngIf="inspections && !inspections.length">
            <p>No Inspections Available.</p>
        </div>
    </div>
    <div class="no-driver" *ngIf="!inspections || inspections === undefined">
        <p>No Inspections Available.</p>
    </div>
</div>
