<div class="pagination ">
    <span class="pagination-text" *ngIf="showRecordNumber">{{_getTotalText()}}</span>
    <div class="pagination-buttons">
        <button class="button pagination-button" (click)="previous()"><i class="fa fa-chevron-left"></i></button>
        <span class="pagination-counter" *ngIf="showPageNumbers"><span
                class="text-theme">{{currentPage}}</span> <span>/</span> <span>{{pageSize}}</span></span>
        <button class="button pagination-button" (click)="next()"><i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>
