.icon-div {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  i {
    color: blue;
    display: flex;
    padding: 8px;
  }
}

@media only screen and (max-width: 767px) {
  ::ng-deep .custom-image-modal {
    margin: 2rem;
  }
}

