<div class="bg-color mt-5">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="p-4 d-flex align-items-center flex-column flex-fill">
                <h1 class="header-text text-center">
                    What people say
                </h1>
            </div>
        </div>
        <div class="d-flex align-items-center bd-highlight ml-5 mr-4" *ngIf="!isMobileDevice">
            <div class="p-2 d-flex  flex-column flex-fill">
                <img src="/assets/svg/icons/rfq/user/user-image-1.png"
                     srcset="/assets/svg/icons/rfq/user/user-image-1@2x.png 2x,
                        /assets/svg/icons/rfq/user/user-image-1@3x.png 3x"
                     class="user-image">
            </div>
            <div class="p-2 d-flex  flex-column flex-fill">
                <h1 class="title">SK Cargo Limited endorses sBusiness.xyz</h1>
                <div class="Rectangle mt-3 mb-3"></div>
                <p class="sub-title">
                    “We recently started using Tender feature from sBusiness.
                    As a client, we’ve received service delivery always on time. The payment procedure is transparent
                    and complies with the system.
                    KAM is always there to communicate and helping with solutions as per demand.”
                </p>
                <h5 class="title-name">Arefin Antu</h5>
                <p class="organization">Managing Director | SK Cargo Limited</p>
            </div>
        </div>
        <div class="d-flex align-items-center bd-highlight ml-5 mr-3" style="margin-bottom:90px;"
             *ngIf="!isMobileDevice">
            <div class="p-2 d-flex  flex-column flex-fill">
                <h1 class="title">Arrow Corp. earned $2.3M with sBusiness.xyz</h1>
                <div class="Rectangle mt-3 mb-3"></div>
                <p class="sub-title">
                    “Getting works is now so easy with sBusiness Tender feature.
                    I get requests for participation as notifications from serious businesses on my app and apply for the job.
                    sBusiness is helping my business grow and my earnings are significantly better than before.”
                </p>
                <h5 class="title-name">Nazmul Hasan Arif</h5>
                <p class="organization">ARROW CORPORATION</p>
            </div>
            <div class="p-2 d-flex align-items-right flex-column flex-fill">
                <img src="/assets/svg/icons/rfq/user/user-image-2.png"
                     srcset="/assets/svg/icons/rfq/user/user-image-2@2x.png 2x,/assets/svg/icons/rfq/user/user-image-2@3x.png 3x"
                     class="user-image">
            </div>
        </div>
        <div class="align-items-center bd-highlight ml-2 mr-2 mt-3" *ngIf="isMobileDevice">
            <div class="p-2 d-flex  flex-column flex-fill">
                <img src="/assets/svg/icons/rfq/user/user-image-1.png"
                     srcset="/assets/svg/icons/rfq/user/user-image-1@2x.png 2x,
                        /assets/svg/icons/rfq/user/user-image-1@3x.png 3x"
                     class="user-mobile-image">
            </div>
            <div class="p-2 d-flex  flex-column flex-fill mt-5">
                <h1 class="title">SK Cargo Limited endorses sBusiness.xyz</h1>
                <div class="Rectangle mt-3 mb-3"></div>
                <p class="sub-title mt-2 mb-4 p-1">
                    “We recently started using Tender feature from sBusiness.
                    As a client, we’ve received service delivery always on time. The payment procedure is transparent and complies with the system.
                    KAM is always there to communicate and helping with solutions as per demand.”
                </p>
                <h5 class="title-name mb-3">Arefin Antu</h5>
                <p class="organization">Managing Director | SK Cargo Limited</p>
            </div>
        </div>
        <div class="align-items-center bd-highlight mt-5 ml-2 mr-2" *ngIf="isMobileDevice">
            <div class="p-2 d-flex align-items-right flex-column flex-fill">
                <img src="/assets/svg/icons/rfq/user/user-image-2.png"
                     srcset="/assets/svg/icons/rfq/user/user-image-2@2x.png 2x,
                        /assets/svg/icons/rfq/user/user-image-2@3x.png 3x"
                     class="user-mobile-image">
            </div>
            <div class="p-2 d-flex  flex-column flex-fill mt-5 mb-5">
                <h1 class="title">Arrow Corp. earned $2.3M with sBusiness.xyz</h1>
                <div class="Rectangle mt-3 mb-3"></div>
                <p class="sub-title mb-4 p-1">
                    “Getting works is now so easy with sBusiness Tender feature.
                    I get requests for participation as notifications from serious businesses on my app and apply for the job.
                    sBusiness is helping my business grow and my earnings are significantly better than before.”
                </p>
                <h5 class="title-name mb-3">Nazmul Hasan Arif</h5>
                <p class="organization">ARROW CORPORATION</p>
            </div>
        </div>
    </div>
</div>
