
<div class="header-banner" [ngStyle]="{'background-image': 'url(' + bannerImage + ')'}">

    <div class="container header-container">

        <div class="row">
            <div class="col-md-10 col-lg-9 header-column">
                <h1 class="h1-title header-banner__title">
                    Your Procurement Assistant
                </h1>
                <button mat-button class="header-banner__button"
                        [routerLink]="['/', 'auth', 'sign-up']"
                        [queryParams]="{reference: 'Start_REG_Top_Banner'}" style="font-family: sans-serif !important;">Start Managing</button>
            </div>
        </div>

    </div>

</div>








<!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"-->
<!--     xmlns="http://www.w3.org/1999/html">-->
<!--&lt;!&ndash;    <ol class="carousel-indicators">&ndash;&gt;-->
<!--&lt;!&ndash;        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ol>&ndash;&gt;-->
<!--    <img class="d-block w-100" src="../../../../../assets/img/landing/home/header/main-banner.jpg" alt="Banner">-->
<!--&lt;!&ndash;    <div class="carousel-inner">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="carousel-item active">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="d-block w-100" src="../../../../../assets/img/header_images/st_image_01.png" alt="First slide">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="d-block w-100" src="../../../../../assets/img/header_images/st_image_02.png" alt="Second slide">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="d-block w-100" src="../../../../../assets/img/header_images/st_image_03.png" alt="Third slide">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div class="overlayDiv d-flex align-items-center">-->
<!--        <div class="container overlayInner d-flex flex-column">-->
<!--            <div class="row align-items-center txtRow">-->
<!--                    <div class="overlayText col-8">Procure, manage & operate all your office needs</div>-->
<!--            </div>-->
<!--            <div class="row align-items-center btnRow">-->
<!--                <div class="col-12 btnDiv">-->
<!--                    <button mat-button class="trialButton"-->
<!--                            [routerLink]="['/', 'auth', 'sign-up']"-->
<!--                            [queryParams]="{reference: 'Start_REG_Top_Banner'}" style="font-family: sans-serif !important;">Start Managing</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
