@import "../../../../../../src/scss/variables";

.service-checkout {
  background-color: $white;
  border-radius: 4px;
  padding: 30px 20px;
  section {
    margin-bottom: 24px;
  }
  .service-checkout__header {
    background-color: $cream_grey;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 16px;
    span {
      color: $black;
      font-weight: 500;
    }
    a {
      padding: 0;
      color: $theme-font-color;
      font-size: 14px;
      &:active, &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .service-list {
    .card {
      border: none;
      box-shadow: none;
      .card-header {
        background-color: $white;
        border: none;
        padding-bottom: 6px;
        button {
          background-color: $white;
          padding: 0;
          text-align: left;
          &:focus, &:active {
            outline: none;
            box-shadow: none;
          }
          i {
            font-size: 16px;
            margin-right: 10px;
            position: relative;
            top: 4px;
          }
        }
      }
      .card-body {
        padding: 0 0 0 46px;
        ul li {
          font-size: 14px;
        }
      }
    }
  }
  .partner-details {
    padding: 0 16px;
    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    p {
      margin: 0;
    }
    .checkout__partner-name {
      font-size: 16px;
      color: $black;
      padding-bottom: 10px;
    }
    .checkout__partner-rating {
      font-size: 14px;
      font-weight: 500;
      color: $ratings-gold;
      margin-bottom: 8px;
      i {
        font-size: 14px;
        position: relative;
        top: 2px;
      }
    }
  }
  p.checkout__schedule {
    padding: 0 16px;
    span {
      margin-right: 20px;
    }
  }
  .service-checkout__bill {
    padding: 0;
    background-color: #FCFCFC;
    border-radius: 4px;
    .service-checkout__bill__item {
      padding: 5px 16px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .service-checkout__promo-form {
      padding: 16px;
      label {
        margin-bottom: 12px;
      }
      input {
        margin-right: 16px;
      }
      button {
        background-color: $success;
        color: $white;
        font-weight: 500;
      }
    }
  }
  .service-checkout__submit-btn {
    margin-top: 32px;
  }
  .taka-sign {
    font-family: $font-hind-siliguri;
  }
}

.form-container {
  &__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #484b4f;
  }
  &__control {
    max-width: 300px;
    background-color: $white;
  }
}

.phone-group {
  border-radius: 10px 0 0 10px;
  border-right-color: transparent;
  &__title {
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(10, 15, 20, 0.75);
  }
}

.phone-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.flag {
  &__square {
    width: 37px;
    height: 24px;
    background-color: #006747;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__circle {
    width: 16px;
    height: 16px;
    background-color: #da291c;
    border-radius: 50%;
  }
}

.error-container {
  margin-top: 10px;
  &__text {
    color: $error;
    font-size: 13px;
  }
}
