<div class="inspection-submit container">
    <h3>Inspection Submit</h3>
    <div class="layout__card row inspection-submit__card" style="padding: 30px">
        <div class="col-md-4">
            <p>Inspection ID # {{inspection.id}}</p>
            <p>Inspection Date -  {{inspection.created_at | date}}</p>
        </div>
        <div class="col-md-4">
            <p>VEHICLE INFO</p>
            <div class="d-flex align-items-center">
                <img src="https://i.ibb.co/VqhqtZ8/image.png" class="vehicle-info__img" alt="">
                <div>
                    <p style="margin-bottom: 5px; font-size: 14px">{{inspection.vehicle.vehicle_model}}[{{inspection.vehicle.model_year}}]</p>
                    <p class="vehicle-info" style="margin-bottom: 0">
                                 <span><i class="material-icons"
                                          [class.active]="inspection.vehicle.status === 'active'"
                                          [class.inactive]="inspection.vehicle.status === 'inactive'"
                                 >brightness_1</i>{{inspection.vehicle.status}}</span>
                        <li>{{inspection.vehicle.vehicle_type}}</li>
                        <li>{{inspection.vehicle.assigned_to }}</li>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p>INSPECTOR</p>
            <div class="d-flex align-items-center">
                <img [src]="inspection.inspector_pic || 'https://i.ibb.co/bXqhnhG/user.png'"  class="vehicle-info__img" onerror="this.src='https://i.ibb.co/bXqhnhG/user.png'" alt="">
                <div>
                    <p style="margin-bottom: 5px; font-size: 14px">{{inspection.inspector}}</p>
                    <!--<p style="color: rgba(0, 0, 0, 0.6); margin-bottom: 0">5 Years Experience</p>-->
                </div>
            </div>
        </div>
    </div>

    <div class="submit-form">
        <h4>Form Details</h4>

        <form class="inspection-submit__input-form" style="margin-bottom: 10px" [formGroup]="inspectionInformationInput">
            <div class="row inspection-submit__input-form__item" *ngFor="let item of inspectionItemsInput">
                <div class="col-3" style="">
                    <label [for]="'item-' + item.id"> {{item.title}} </label>
                </div>
                <div class="col-6">
                    <div class="">
                        <input class="form-control" [placeholder]="'Write ' + item.title" [type]="item.input_type === 'number' ? 'number' : 'text'" [formControlName]="item.id">
                        <p class="error-message" *ngIf="showFormErrors && inspectionInformationInput.get(item.id.toString()).hasError('required')">{{item.title}} is required</p>
                    </div>
                </div>
            </div>
        </form>

        <h4 style="border-bottom: none">Item Checklist</h4>

        <form class="inspection-submit__radio-form" style="margin-bottom: 10px" [formGroup]="inspectionInformationRadio">
            <div class="row inspection-submit__radio-form__item mb-20" *ngFor="let item of inspectionItemsRadio">
                <div class="col-5" style="">
                    <label [for]="'item-' + item.id"> {{item.title}} </label>
                </div>
                <div class="col-7">
                    <div class="d-flex justify-content-between">
                        <mat-radio-group (change)="checkComment(item.id, $event)"
                            aria-labelledby="example-radio-group-label"
                            style="margin-bottom: 15px"
                            class="example-radio-group" [formControlName]="item.id">
                            <mat-radio-button color="primary" class="example-radio-button" [value]="'pass'" style="margin-right: 100px">
                                Pass
                            </mat-radio-button>
                            <mat-radio-button color="primary" class="example-radio-button" [value]="'failed'">
                                Fail
                            </mat-radio-button>
                        </mat-radio-group>
                        <p class="error-message" *ngIf="showFormErrors && inspectionInformationRadio.get(item.id.toString()).hasError('required')">This field is required</p>
                    </div>
                    <input class="form-control" placeholder="Write comment" type="text" [id]="'item-comment-' + item.id" (blur)="checkComment(item.id, {value: inspectionInformationRadio.controls[item.id].value})">
                    <span class="comment-error error-message" [class.show]="showFormErrors" [id]="'item-comment-error' + item.id"></span>
                </div>
            </div>
        </form>

        <form class="inspection-submit__input-form" style="margin-bottom: 10px; margin-top: 20px" [formGroup]="inspectionInformationNote">
            <div class="row inspection-submit__input-form__item mb-20">
                <div class="col-3" style="">
                    <label for="note"> Note </label>
                </div>
                <div class="col-6">
                    <div class="">
                        <textarea class="form-control" placeholder="Write note" type="text" id="note" formControlName="note"></textarea>
                        <p class="error-message" *ngIf="showFormErrors && inspectionInformationNote.get('note').hasError('required')">Note is required</p>
                    </div>
                </div>
            </div>
        </form>

        <button class="btn button--filled inspection-submit__submit" (click)="validateInspectionForm()">
            Submit Inspection
        </button>
    </div>
</div>
