@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600,500&display=swap');
@import "src/scss/colors";

.eval-form {
  font-family: "Poppins", sans-serif;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(19, 34, 64, 0.1);
  border-radius: 10px;

  &__title {
    h4 {
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      text-align: center;
      padding: 16px;
      border-bottom: solid 0.5px #d3d8e6;
    }
  }

  &__body {
    padding: 40px 150px 60px;

    .question {
      &__title {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        color: #484b4f;
        span {
          color: #fa5252;
        }
      }
      &:last-of-type {
        margin-bottom: 50px !important;
      }
    }


    .col-md-12 {
      padding: 0;
    }


    textarea  {
      resize: none;
    }

    .eval-footer {
      justify-content: center;
      display: flex;

      .mat-button {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        color: var(--white);
        width: 150px;
        height: 40px;
        border-radius: 8px;
        background-color: var(--primary);

        &:disabled {
          background: $grey-medium;
          border-color: $grey-medium;
          cursor: not-allowed;
          color: $white;
        }
      }
    }
  }

  .form-container__control {

    &:focus {
      border: solid 1px $primary;
      &:hover {
        border: solid 1px #5a6172;
      }
    }

    &:hover {
      border: solid 1px #5a6172;
      &:focus {
        border: solid 1px $primary;
      }
    }
  }
}

:host ::ng-deep {
  .mat-checkbox-inner-container , .mat-radio-outer-circle {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }
  .mat-radio-container {
    width: 24px;
    height: 24px;
  }
  .mat-radio-label-content {
    margin-left: 12px;
    padding: 0;
  }
  .mat-checkbox-layout .mat-checkbox-label, .mat-radio-label {
    line-height: 36px;
    font-size: 14px;
  }
  .mat-radio-inner-circle {
    height: 30px;
    width: 30px;
    top: -3px;
    left: -3px;
  }
}

::-webkit-input-placeholder {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.5;
  color: black;
  display: flex;align-items: center;
}

::-moz-placeholder {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.5;
  color: black;
  display: flex;align-items: center;
}

:-ms-input-placeholder {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.5;
  color: black;
  display: flex;align-items: center;
}

::placeholder {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.5;
  color: black;
  display: flex;align-items: center;
}

:host ::ng-deep {
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $primary !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $primary !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $primary !important;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary !important;
  }
}


@media screen and (max-width: 768px) {

  .eval-form {
    margin: 0 15px;

    &__body {
      padding: 20px 15px 30px;
    }
  }

  .row {
    margin: 0 !important;
  }
}
