@import "../../../../../../src/scss/variables";
@import "../../../../../../src/scss/layouts";

.subscription-available {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  @media (min-width: 1300px) {
    font-size: 16px;
  }
}

a.subscription-available {
  color: DodgerBlue;
  font-weight: 500;
}

h4.subscription-available {
  width: 253px;
  height: 28px;
  opacity: 0.8;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}
.layout__card{
  padding: 30px;
}
