.table-header{
  border-radius: 0;
  background-color: #a7b1cc;
  color: #fff;

  &:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;;
  }

  &:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  span{
    i{
      color: #fff;
    }
  }

  .btn{
    i{
      color: #fff;
    }
  }
}

tr{
  border-radius: 5px;
}

td.mat-cell{
  padding: 10px 10px 5px 15px !important;
  vertical-align: middle;
  border-bottom: 0;
  border-radius: 3px;
}

td{
  .btn {
    i{
      color: #2f38f1;
    }
  }
}

.table-menu-button {
  background: transparent;
  padding: 0;
}

