:host ::ng-deep {
  .table{
    &.designer-table{
      tbody{
        tr{
          td.mat-cell{
            padding: 17px !important;
          }
        }
      }
    }
  }
}


.mat-tab-body-active {
  background: #F8F8FB;
}

#pro-status {
  width: 85px;
  height: 18px;
  margin: 0;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 0 !important;
  text-transform: capitalize;
  background-color: #0c99f7;
}

#is-published {
  width: 75px;
  height: 18px;
  margin: 0;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 0 !important;
  background-color: #0c99f7;
}

#not-published {
  width: 75px;
  height: 18px;
  margin: 0;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 0 !important;
  background-color: #bac3ca;
}


.select--primary {
  select {
    background-color: #fff !important;
  }
}

.pointer{
  cursor: pointer;
}
