<div class="b2b-breadcrumb">
    <a [routerLink]="['/','dashboard','procurement']">RFQ</a><span> / </span>
    <span>List</span>
</div>

<section class="layout__card container-fluid">
    <app-procurement-tender-filter [procurementStatuses]='procurementStatuses'
                                   [totalProcurementCount]="totalProcurementCount"
                                   (filterEmitter)="setFilteredSubscriptionOrders($event)"
                                   (searchEmitter)="handleSearch($event)"
                                   (alphabeticFilter)="handleAlphabeticSort($event)"
    ></app-procurement-tender-filter>
</section>
<div class="main-content-container">
    <div class="main-content-block">
        <div class="main-content-table" *ngIf="filteredProcurementTenderLists">
            <table *ngIf="(filteredProcurementTenderLists.length && dataSource)" mat-table [dataSource]="dataSource"
                   class="table  designer-table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.id }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.title }}</span>
                    </td>
                </ng-container>

                <!--publication status-->
                <ng-container matColumnDef="is_published">
                    <th mat-header-cell *matHeaderCellDef>Publication Status</th>
                    <td mat-cell *matCellDef="let element">
                        <span id="is-published" *ngIf="this.element.is_published===1; else elseBlock">Published</span>
                        <ng-template #elseBlock>
                            <span id="not-published">
                                Draft
                            </span>
                        </ng-template>
                    </td>
                </ng-container>
                <!--publication status end-->

                <ng-container matColumnDef="last_date_of_submission">
                    <th mat-header-cell *matHeaderCellDef>Last Date Of Submission</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.last_date_of_submission}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="bid_count">
                    <th mat-header-cell *matHeaderCellDef>Bid Count</th>
                    <td mat-cell
                        *matCellDef="let element">
                        <span>{{element.bid_count}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell
                        *matCellDef="let element">
                        <span id="pro-status"> {{ element.status }} </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <i class="fa fa-chevron-right" style="color:#2f38f1"></i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="redirectToProcurement(row.id)" class="pointer"></tr>
            </table>
            <div class="no-driver" *ngIf="!filteredProcurementTenderLists.length">
                <p>No Orders Available.</p>
            </div>
        </div>
        <div class="no-driver" *ngIf="!filteredProcurementTenderLists || filteredProcurementTenderLists === undefined">
            <p>No Orders Available</p>
        </div>
    </div>
</div>
