@import 'src/scss/variables';

@media only screen and (max-width: 600px) {
  .verify-modal {
    padding: 0px 0px 0 0px !important;
  }
  .response-error {
    height: 32px !important;
    padding: 5px 10px 0 20px !important;
    font-size: 14px !important;
  }
  .mat-dialog-content {
    max-height: 70vh;
  }
}

::ng-deep .mat-dialog-container {
  border-radius: 10px ;
}

.verify-modal {
  text-align: center;
  padding: 5px 83px 0 83px;

  img {
    margin-bottom: 32px;
  }
  h4 {
    margin-bottom: 15px;
    font-size: $fs-header-4;
    font-weight: $font-weight-semiBold;
    line-height: 1.4;
    color: $black-80;
    font-family: Poppins !important;
  }
  p {
    font-size: 14px;
    font-family: Poppins !important;
    margin-bottom: 20px;
    line-height: 1.5;
    color: rgba(10, 15, 20, 0.75);
  }
}

.close-button{
  background: none;
  border: none;
}

.close-icon {
  margin-right: 5px;
  margin-top: 12px;
  color: #bbc0cc;
}

.phone-input-group{
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
}

#basic-addon1{
  background: #e5e7ec;
  border-radius: 10px 0 0 10px;
}

.bd-green{
  width: 37px;
  height: 24px;
  background-color: #006747;
  display: inline-block;
  border-radius: 5px;
}

.bd-red{
  width: 16px;
  height: 16px;
  background-color: #da291c;
  display: inline-block;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 5px;
}

.phone-input{
  background: #f7f9fc;
  height: 38px;
  border-radius: 0 10px 10px 0;
}

.action-btn{
  width: 280px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #4373f5;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  font-family: Poppins;
}

.resend-otp-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: none;
  border: none;
  margin-top: -14px;
  font-size: 14px;
  font-weight: 500;
  color: #437ff5;
  font-family: Poppins;
}

.custom-backspace {
  cursor: pointer;
  position: absolute;
  margin-top: -32px;
  margin-left: 12px;
  color: #4373f5;
}

.pin-input-group {
  display: block;
  margin: 11px 0 12px 0;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.pin-input {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #bbc0cc;
  background-color: #f7f9fc;
  text-align: center;
  font-size: 28px;
}

.pin-input:focus {
  border: 1px solid #4373f5;
}

.response-error {
  background: #e75050;
  height: 43px;
  padding: 8px 10px 0 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

