<div class="divOuter">
    <div class="container">
        <p class="title">Help with anything you need done</p>
        <div class="row d-block">
            <div class="col-md-3 col-lg-3 float-left security"
                 [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255,255,255,.0) 70%, rgba(0,0,0,.88)), url(' + officeCleaningImage + ')'}">
            <span class="label">
               Office cleaning
            </span>
            </div>
            <div class="col-md-3 col-lg-3 float-left waste"
                 [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255,255,255,.0) 70%, rgba(0,0,0,.88)), url(' + tripsAndTravelImage + ')'}">
            <span class="label">
                Trips and travel
            </span>
            </div>
            <div class="col-md-3 col-lg-3 float-left painting"
                 [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255,255,255,.0) 70%, rgba(0,0,0,.88)), url(' + applianceRepairImage + ')'}">
            <span class="label">
                Appliance repair
            </span>
            </div>
            <div class="col-md-3 col-lg-3 float-left moves"
                 [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255,255,255,.0) 70%, rgba(0,0,0,.88)), url(' + dailyLunchImage + ')'}">
            <span class="label">
                Daily lunch
            </span>
            </div>
            <div class="col-md-3 col-lg-3 float-left catering"
                 [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255,255,255,.0) 70%, rgba(0,0,0,.88)), url(' + productImage + ')'}">
            <span class="label">
                Product
            </span>
            </div>
            <div class="col-md-6 col-lg-6 float-left facility"
                 [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(255,255,255,.0) 70%, rgba(0,0,0,.88)), url(' + officeShiftingImage + ')'}">
            <span class="label">
                Office shifting
            </span>
            </div>
        </div>
    </div>
</div>
