<app-digigo-hero-section></app-digigo-hero-section>
<app-digigo-why-choose-us></app-digigo-why-choose-us>
<app-digigo-what-we-offer></app-digigo-what-we-offer>
<app-digigo-main-features></app-digigo-main-features>
<app-digigo-how-it-works></app-digigo-how-it-works>
<app-digigo-testimonial-slider></app-digigo-testimonial-slider>
<app-digigo-get-app-now></app-digigo-get-app-now>
<div class="mobile-view-hidden">
    <app-digigo-subscribe-newsletter></app-digigo-subscribe-newsletter>
</div>
<app-contact-us></app-contact-us>
