<div class="cBody">
    <div class="d-flex" style="height: 250px; background-color: #f5f6fa; position: relative">
        <div class="container contents align-self-center">
            <div class="col-md-12 title">Not sure what to do? Get connected with us via newsletter.</div>
            <div class="d-flex justify-content-center" style="text-align: center">
                <input name="email" placeholder="Your Email" type="text" [formControl]="email">
                <button mat-button class="trialButton" (click)="onClick()">SUBSCRIBE</button>
            </div>
        </div>
        <div class="overlayDiv">
            <img class="tile1" src="../../../../../assets/img/landing/miscellaneous/tile.svg" alt="tile top">
            <img class="envelop" src="../../../../../assets/img/landing/miscellaneous/envelop.svg" alt="tile top">
        </div>
    </div>
</div>
