@import "../../../../../scss/variables";

::ng-deep {

  .blueTheme,
  .whiteTheme {
    .slick-prev, .slick-next {
      width: 40px;
      height: 40px;
      top: 78%;
      opacity: 1;
      z-index: 5;
      border-radius: 50%;
      &:before{
        content: '';
        height: 12px;
        width: 12px;
        position: absolute;
        top: 13px;
        opacity: 1;
        text-align: center;
      }
      &:hover, &:focus{
        background-color: #fff;
      }
    }
    .slick-next {
      right: 20px;

      &.slick-disabled{
        opacity: 0;
      }

      &:before {
        transform: rotate(45deg);
        left: 11px;
      }
    }
    .slick-prev {
      left: 90%;

      &.slick-disabled{
        opacity: 0;
      }

      &:before {
        transform: rotate(225deg);
        left: 15px;
      }
    }
  }

  .blueTheme {
    .slick-prev, .slick-next {
      background-color: transparent;
      border: solid 1px #fff;
      &:before{
        border-top: 3px solid  #fff;
        border-right: 3px solid  #fff;
      }
    }
  }

  .whiteTheme {
    .slick-prev, .slick-next {
      background-color: #fff;
      border: solid 1px #c8c8cc;
      &:before{
        border-top: 3px solid  #c8c8cc;
        border-right: 3px solid  #c8c8cc;
      }
    }


  }

}

h1, p {
  //font-family: $font-lato !important;
}

.testimonial {
  width: 100%;
  padding: 75px 230px 60px 230px;

  .blue {
    background-image: linear-gradient(114deg, #78b6fb 0%, #437ff5);
  }

  .theme-blue {
    .slick-prev, .slick-next {
      background-color: rgb(84, 145, 247);
      border: solid 1px #fff;

      &:before{
        border-top: 3px solid  #fff;
        border-right: 3px solid  #fff;
      }
    }

    .slick-prev, .slick-next {
      background-color: rgb(84, 145, 247) ;
      border: solid 1px #fff;
    }
  }

  .testimonial-section {

    &__image {
      display: flex;
      justify-content: center;
      padding-right: 30px;
      position: relative;

      .comma-home {
        position: absolute;
        z-index: -1;
        right: -65px !important;
        top: -60px !important;
      }

      .comma-feature {
        position: absolute;
        right: -38px;
        top: -28px;
      }
    }

    .feature,
    .home {
      padding: 15px !important;;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        //color: $black80;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
        //font-family: $font-opensans;
      }

      .user {
        &__comment {
          //color: $black60;
          font-size: 24px;
          line-height: 1.5;
          margin-bottom: 50px;
        }
        &__name {
          //color: $black80;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 12px;
        }
        &__designation {
          //color: $black60;
          font-size: 18px;
          //font-family: Lato, sans-serif !important;
        }
      }
    }

    .feature {
      h1 {
        color: $black80;
      }

      .user {
        &__comment {
          color: $black60;
        }
        &__name {
          color: $black80;
        }
        &__designation {
          color: $black60;
        }
      }
    }

    .home {
      h1 {
        color: $white;
      }

      .user {
        &__comment, {
          color: $white ;
        }
        &__name {
          color: $white;
        }
        &__designation {
          color: $white;
        }
      }
    }

  }

  .img-fluid {
    max-width: 370px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 1500px) {

  :host ::ng-deep {

    .slick-prev, .slick-next {
      top: 78%;
    }

    .slick-prev {
      left: 89%;
    }

  }

  .testimonial {
    padding: 150px 80px;

    .p-60 {
      padding: 60px 20px !important;
    }
  }
}

@media only screen and (max-width: 1100px) {

  :host ::ng-deep {

    .slick-dots {
      bottom: -70px;
    }
    .slick-dots li button:before {
      font-size: 10px;
    }
  }
  .testimonial {
    padding: 150px 0;
  }
}

@media only screen and (max-width: 800px) {
  :host ::ng-deep {

    .slick-prev, .slick-next {
      top: 85%;
    }
    .slick-prev {
      left: 85%;

      &.slick-disabled{
        opacity: 0;
      }

      &:before {
        transform: rotate(225deg);
        left: 15px;
      }
    }

  }

  .testimonial {
    .testimonial-section {
      &__image {
        padding-right: 40px;
      }

      .feature,
      .home {

        h1 {
          font-size: 30px;
        }

        .user {
          &__comment {
            font-size: 20px;
          }
          &__name {
            font-size: 17px;
          }
          &__designation {
            font-size: 14px;
          }
        }

      }

      .img-fluid {
        max-width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 479px) {

  :host ::ng-deep {

    .slick-dots {
      bottom: -40px;
    }
    .slick-dots li button:before {
      font-size: 30px;
    }
  }
  .testimonial {
    padding: 70px 0;
    background-color: #fff !important;

    .testimonial-section {
      h1 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        font-weight: 500;
      }
      &__image {
        display: flex;
        justify-content: center;
        //padding-right: 15px;
        margin-bottom: 30px;
        padding: 40px 60px 0 60px !important;

        .comma-feature {
          width: 30px;
          position: absolute;
          right: -14px;
          top: -12px;
        }

        .comma-home {
          width: 30px;
          position: absolute;
          right: -20px !important;
          top: -12px !important;
          z-index: 0;
        }
      }

      .feature,
      .home {
        padding: 0 60px !important;;

        h1 {
          display: none;
        }
        p, span {
          text-align: center;
        }

        .user {
          &__comment {
            color: rgba(0,0,0,.6);
            font-size: 16px;
            margin-bottom: 20px;
          }
          &__name {
            color: $black80;
            font-size: 16px;
          }
          &__designation {
            color: $black80;
            font-size: 14px;
          }
        }
      }
    }
    .img-fluid {
      max-width: 74px !important;
    }
  }
}

