<div class="nav-menu-inner" [ngClass]={open:open}>
    <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive="active" #rla="routerLinkActive"
           [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <div class="nav-menu-inner-actions" *ngIf="action">
        <button class="button button-primary button-small" routerLinkActive="no-display"
                [routerLink]="action.path">{{action.actionButtonText}}</button>
    </div>
</div>
<div class="inner-nav-content">
    <router-outlet></router-outlet>
</div>
