.mat-tab-body-active {
  background: #F8F8FB;
}

.order-status.pending {
  border-radius: 3px;
  background-color: #ff8219;
}

.order-status.completed {
  border-radius: 3px;
  background-color: #12b886;
}
