@import "src/scss/variables";

::ng-deep {

  .custom-slick {
    .slick-prev, .slick-next {
      background-color: #fff;
      box-shadow: 0 5px 25px 0 rgba(19, 34, 64, 0.12);
      width: 30px;
      height: 30px;
      opacity: 1;
      z-index: 5;
      border-radius: 50%;
      &:before {
        content: '';
        height: 10px;
        width: 10px;
        position: absolute;
        top: 10px;
        opacity: 1;
        text-align: center;
        border-top: 2px solid  $primary;
        border-right: 2px solid  $primary;
      }
    }
    .slick-next {
      &.slick-disabled{
        opacity: 0;
      }
      &:before {
        transform: rotate(45deg);
        left: 8px;
      }
    }
    .slick-prev {
      &.slick-disabled{
        opacity: 0;
      }
      &:before {
        transform: rotate(225deg);
        right: 8px;
      }
    }
  }
  .slick-next {
    right: 1px !important;
}
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 28px !important;
    line-height: 1.14 !important;
  }
  .card{
    height: 235px!important;
  }
  .card-text {
    height: 54px!important;
    margin-top:15px!important ;
  }
}
.top-padding{
  margin-top: 30px;
}
.header-text {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.bg-color{
  background-color: #f8fafc;
}
.card{
  width: 94%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(19, 34, 64, 0.1);
  background-color: var(--white);
}
.card-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--black);
}
.card-text {
  height: 36px;
  margin-top:10px ;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5em;    /* height is 2x line-height, so two lines will display */
  overflow: hidden;
  letter-spacing: normal;
  color: rgba(10, 15, 20, 0.75);
}
time {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.tiny-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: inline-flex;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(10, 15, 20, 0.75);
  height: 18px;
  margin-top: 8px;
}
.BG {
  width: 220px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.readmore{
  border-bottom-style: dotted;
}
.Title-of-the-RFQ-pos {
  height: 28px;
  font-family: KohinoorBangla;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--black);
}
