@import '../../../../../scss/layouts';
@import '../../../../../scss/variables';

$subscription_status_accepted: #0c99f7;
$subscription_status_default: #999;

.subscription-order-details {
  &__info {
    h5 {
      color: $black40;
      font-size: 14px;
      text-transform: uppercase;
    }
    &__title {
      font-size: 16px;
    }
    img {
      height: 50px;
      width: 50px;
      border-radius: 4px;
      margin-right: 10px;
    }
    .partner-phone {
      font-size: 12px;
    }
    .category-name {
      margin: 0;
      font-size: 14px;
    }
    .partner-rating {
      font-size: 12px;
      .rating {
        color: $ratings-gold;
        font-weight: 500;
        i {
          font-size: 12px;
          position: relative;
          top: 1px;
        }
      }
      .rating-amount {
        color: $black40;
      }
    }

    .subscription-status {
      margin: 0;
      font-size: 12px;
      color: $white;
      border-radius: 4px;
      background-color: $subscription_status_default;
      text-align: center;
      display: inline-block;
      padding: 0px 20px;
      &.accepted {
        background-color: $subscription_status_accepted;
      }
    }
  }
}

.dot-before {
  position: relative;
  margin-left: 15px;
  &:before {
    content: ' ';
    height: 4px;
    width: 4px;
    background-color: $black60;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -8px;
  }
}
