@import "../../../../../../scss/form_components";

h5 {
  font-family: $font-lato !important;
  color: $black80;
  font-size: 16px;
  font-weight: bold;
}

#next-previous-button {
  #prev-button {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  #next-button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .btn{
    display: flex;
    align-items: center;
    background-color: $white;
    border: solid 1px #d3d8e6;
    padding: 7px 8px;
    border-radius: 0;
    i {
      color: $black60;
    }
  }
}

.search-input {
  position: relative;
  max-width: 200px;

  i {
    position: absolute;
    top: 11px;
    left: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
  }

  input {
    height: 40px;
    border-radius: 3px;
    border: solid 1px #d3d8e6;
    padding: 11px 40px 11px 40px;
    font-family: $font-lato !important;
  }
}

.sorting {

  &__month,
  &__department{
    select {
      min-width: auto !important;
    }
  }

  &__month,
  &__department,
  &__employee {
    select {
      color: rgba(0, 0, 0, 0.6) ;
      padding: 9px 79px 9px 15px ;
      min-width: 260px;
      option{
        color: rgba(0, 0, 0, 0.8);
      }
    }
    margin-right: 30px;
  }

  &__alphabetically {
    select {
      color: rgba(0, 0, 0, 0.8);
      padding: 9px 45px 9px 15px;
    }
  }

  &__month,
  &__department,
  &__employee,
  &__alphabetically {
    position: relative;

    select {
      background-color: #fff;
      border: solid 1px #d3d8e6;
      border-radius: 3px;
      font-size: 14px;
      position: relative;
      -webkit-appearance: none; // Removing the default dropdown icon
      -moz-appearance: none;
      cursor: pointer;
      font-family: $font-lato !important;

      &:focus {
        outline-color: transparent;
      }
    }

    i {
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.6);
      pointer-events: none;
    }

  }
}

