<div class="b2b-breadcrumb">
    <a [routerLink]="['/','dashboard','fleet-management','assignments']">Fleet Management</a><span>/</span>
    <a [routerLink]="['/','dashboard','fleet-management','requests']">Requests</a> <span>/</span>
    <span>List</span>
</div>
<div class="main-content-container">
    <div class="main-content-block pb-0">
        <div class="row">
            <div class="col-md-6">
                <app-fleet-request-list-filter (OnFilterEvent)="filterData($event)"></app-fleet-request-list-filter>
            </div>
            <div class="col-md-6">
                <div class="flex flex-column align-items-end">
                    <div class="flex align-items-start">
                        <div class="input-group search-input input-group--primary">
                            <div class="input-group-prepend">
                                <i class="material-icons">search</i>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
                                   (keyup)="search()" aria-describedby="Table Search">
                        </div>
                        <button class="button button-primary button-semi-small ml-2 "
                                [routerLink]="['/','dashboard','fleet-management','requests','add']"><span><i
                                class="fas fa-plus"></i> <span class="ml-2">Add New</span></span></button>
                    </div>
                    <div class="flex">
                        <app-pagination (pageEvent)="paginate($event)" [total]="data.length" [currentPage]="1"
                                        [pageSize]="1"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-block">
        <div class="main-content-table">
            <table *ngIf="(data.length && dataSource);else noData" mat-table [dataSource]="dataSource"
                   class="table  designer-table">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.member.name}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef>Designation</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.member.designation}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="vehicle_type">
                    <th mat-header-cell *matHeaderCellDef>Vehicle Type</th>
                    <td mat-cell
                        *matCellDef="let element">
                        <span>{{element.vehicle_type}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell
                        *matCellDef="let element">
                        <span>{{element.created_date|date}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell
                        *matCellDef="let element">
                        <span [ngClass]="{'text-success':element.status=='Accepted','text-danger':element.status=='Rejected'}">{{element.status}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <i class="fa fa-chevron-right" style="color:#2f38f1"></i>
                        <!--<button class="button button-flat button-fav"
                                [routerLink]="['.',element.id,'details']"><i
                                class="fa fa-chevron-right"></i>
                        </button>-->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;" [routerLink]="['.',row.id,'details']" class="pointer"></tr>
            </table>
            <ng-template #noData>
                <app-no-item heading="No Request Found" [showAction]="false"></app-no-item>
            </ng-template>
        </div>
    </div>
</div>
