.button-small {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  padding: 6px 25px;
  text-transform: uppercase;
  line-height: 1.29;
  height: auto;
  font-weight: 500;
}

.button-success {
  border-radius: 15px!important;
  text-transform: capitalize!important;
}

.main-content-filter {
  margin-top: 20px;
}
