<div style="padding-bottom: 100px">
    <!--facility start-->
    <div class="container">
        <div class="row vidRow">
            <div class="col-lg-6 order-md-2 vidRight">
                <!--modal start-->
                <div class="d-flex justify-content-center align-items-center" style="position: relative" (click)="playVideo('facility')">
                    <img class="thumbnail" src="../../../../../assets/img/landing/video-thumbnail/facility.jpg" alt="Facility Management" >
                    <div class="overlay"></div>
                    <img class="playIcon" src="../../../../../assets/img/landing/miscellaneous/playicon.svg" alt="">
                </div>

                <!-- The Modal -->
<!--                <div class="modal" id="myModal5">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->

<!--                            &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--                            <div class="modal-header">-->
<!--                                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--                            <div class="modal-body">-->
<!--                                <iframe src="https://www.youtube.com/embed/sPnE6VMALqU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--modal end-->
            </div>
            <div class="col-md-6 order-md-1 d-flex flex-column justify-content-center">
                <div class="title">Facility Management</div>
                <div class="subtitle">Manage Office Requirement from anywhere, anytime.</div>
                <div>
                    <ul [ngStyle]="{'list-style-image': 'url(' + rectangleImage + ')'}">
                        <li><span>Save Time</span></li>
                        <li><span>Manage Effectively</span></li>
                        <li><span>Operate Smooth</span></li>
                    </ul>
                </div>
                <div>
                    <a class="seeDetails"
                       [routerLink]="['/', 'features']" [queryParams]="{feature: 'facility', reference: 'View_details_Facility'}"
                    >View Details</a>
                </div>
            </div>
            <div class="backdrop">
                <img class="tileLeft" src="../../../../../assets/img/landing/miscellaneous/dots.png" alt="">
            </div>
        </div>
    </div>
    <!--fleet start-->
    <div class="container">
        <div class="row vidRow">
            <div class="col-md-6 vidLeft">
                <!--modal start-->
                <div class="d-flex justify-content-center align-items-center" style="position: relative" (click)="playVideo('fleet')">
                    <img class="thumbnail" src="../../../../../assets/img/landing/video-thumbnail/fleet.jpg" alt="Fleet Management" >
                    <div class="overlay"></div>
                    <img class="playIcon" src="../../../../../assets/img/landing/miscellaneous/playicon.svg" alt="">
                </div>

                <!-- The Modal -->
<!--                <div class="modal" id="myModal1">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->

<!--                            &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--                            <div class="modal-header">-->
<!--                                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--                            <div class="modal-body">-->
<!--                                <iframe src="https://www.youtube.com/embed/IbXgrnDin9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center textRight">
                <div class="title">Fleet Management</div>
                <div class="subtitle">Monitor & Manage Company Fleet</div>
                <div>
                    <ul [ngStyle]="{'list-style-image': 'url(' + rectangleImage + ')'}">
                        <li><span>Schedule the Fleet and Drivers</span></li>
                        <li><span>Keep and Update the Fleet Info</span></li>
                        <li><span>Manage Everyday</span></li>
                    </ul>
                </div>
                <div>
                    <a class="seeDetails"
                       [routerLink]="['/', 'features']" [queryParams]="{feature: 'fleet', reference: 'View_Details_Fleet'}">View Details</a>
                </div>
            </div>
            <div class="backdrop">
                <img class="tileRight" src="../../../../../assets/img/landing/miscellaneous/dots.png" alt="">
            </div>
        </div>
    </div>
    <!--quotation start-->
    <div class="container">
        <div class="row vidRow">
            <div class="col-md-6 order-md-2 vidRight">
                <!--modal start-->
                <div class="d-flex justify-content-center align-items-center"  style="position: relative" (click)="playVideo('rfq')">
                    <img class="thumbnail" src="../../../../../assets/img/landing/video-thumbnail/rfq.jpg" alt="Requst For Quotation(RFQ)" >
                    <div class="overlay"></div>
                    <img class="playIcon" src="../../../../../assets/img/landing/miscellaneous/playicon.svg" alt="">
                </div>

                <!-- The Modal -->
<!--                <div class="modal" id="myModal2">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->

<!--                            &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--                            <div class="modal-header">-->
<!--                                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--                            <div class="modal-body">-->
<!--                                <iframe src="https://www.youtube.com/embed/0YFeM_quVn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--modal end-->
            </div>
            <div class="col-md-6 order-md-1 d-flex flex-column justify-content-center">
                <div class="title">Request Quotation</div>
                <div class="subtitle">Get the suitable quote, from appropriate and verified vendors.</div>
                <div>
                    <ul [ngStyle]="{'list-style-image': 'url(' + rectangleImage + ')'}">
                        <li><span>Experienced and Verified Vendors</span></li>
                        <li><span>Honest Pricing</span></li>
                        <li><span>Easy Process</span></li>
                    </ul>
                </div>
                <div>
                    <a class="seeDetails"
                       [routerLink]="['/', 'features']" [queryParams]="{feature: 'procurement', reference: 'View_details_RFQ'}">View Details</a>
                </div>
            </div>
            <div class="backdrop">
                <img class="tileLeft" src="../../../../../assets/img/landing/miscellaneous/dots.png" alt="">
            </div>
        </div>
    </div>
    <!--topUp start-->
    <div class="container">
        <div class="row vidRow">
            <div class="col-md-6 vidLeft">
                <!--modal start-->
                <div class="d-flex justify-content-center align-items-center" style="position: relative" (click)="playVideo('topup')">
                    <img class="thumbnail" src="../../../../../assets/img/landing/video-thumbnail/top-up.jpg" alt="Top-Up" >
                    <div class="overlay"></div>
                    <img class="playIcon" src="../../../../../assets/img/landing/miscellaneous/playicon.svg" alt="">
                </div>

                <!-- The Modal -->
<!--                <div class="modal" id="myModal3">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->

<!--                            &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--                            <div class="modal-header">-->
<!--                                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--                            <div class="modal-body">-->
<!--                                <iframe src="https://www.youtube.com/embed/9XG3H9OTidQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center textRight">
                <div class="title">Mobile Topup</div>
                <div class="subtitle">Recharge all of your employee mobile numbers instantly</div>
                <div>
                    <ul [ngStyle]="{'list-style-image': 'url(' + rectangleImage + ')'}">
                        <li><span>Up to 100,000 number recharge facility at once</span></li>
                        <li><span>Multiple operators recharge at one go</span></li>
                        <li><span>1% Cashback bonus</span></li>
                    </ul>
                </div>
                <div>
                    <a  class="seeDetails"
                        [routerLink]="['/', 'features']" [queryParams]="{feature: 'topup', reference: 'View_Details_Topup'}">View Details</a>
                </div>
            </div>
            <div class="backdrop">
                <img class="tileRight" src="../../../../../assets/img/landing/miscellaneous/dots.png" alt="">
            </div>
        </div>
    </div>
</div>
