<div class="bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="background-parent-column col-md-12">
                <div class="background row">
                    <div class="background__left col-md-6">
                        <div class="background__left__content d-flex flex-column row">
                            <div class="col-md-9">
                                <div class="text">
                                    <div class="text__desktop">
                                        Manage your <span class="color">work life</span>
                                        in simple & easiest Way!
                                    </div>
                                    <div class="text__mobile">
                                        Easiest Way To Manage People !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="buttons">
                                    <button mat-button class="button button--trial" (click)="getFreeTrial()">Get Free Trial</button>
                                    <button mat-button class="button button--demo" (click)="watchDemo()">
                                        <span>
                                            <i class="material-icons">
                                                play_circle_filled
                                            </i>
                                            Watch Demo
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="background__right col-md-6">
                        <div class="app-screen">
                            <img class="screen-image" src="../../../../../assets/img/digigo-landing/app-screens.png" alt="">
                            <div class="dots dots--bottom">
                                <img src="../../../../../assets/svg/icons/digigo-landing/dots_pattern.svg" alt="dots-bottom">
                            </div>
                            <div class="dots dots--top">
                                <img src="../../../../../assets/svg/icons/digigo-landing/dots_pattern_side.svg" alt="dots-bottom">
                            </div>
                            <div class="dots dots--right">
                                <img src="../../../../../assets/svg/icons/digigo-landing/dots_pattern_small_top.svg" alt="dots-bottom">
                            </div>
                        </div>
                        <div class="app-screen-mobile">
                            <img class="screen-image-mobile" src="../../../../../assets/img/digigo-landing/app-screen-mobile.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
