<form class="row">
    <div class="col-md-4">
        <div class="select--primary">
            <select name="" id="categoryFilter" (change)="selectCategory($event)">
                <option value="0">All</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <i class="material-icons">keyboard_arrow_down</i>
        </div>
    </div>

    <div class="col-md-8">
        <div class="input-group search-input input-group--primary">
            <div class="input-group-prepend">
                <i class="material-icons">search</i>
            </div>
            <input type="text" class="form-control" placeholder="Search" (keyup)="onChange($event)"  aria-describedby="basic-addon1">
        </div>
    </div>
</form>
