.sheba-title {
  margin-bottom: 10px;
  font-weight: 500;
}

.inner-form {
  max-width: 760px;
  margin: 20px 0;
}

mat-form-field {
  background-color: white;
}

.form-item .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 5px;
}

.main-content-block {
  padding: 20px 20px 40px;
}
