// Body
$body-bg-gray: rgb(238, 238, 238);
$body-bg: rgb(238, 238, 238);
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$pad-right: p-r !default;
$pad-left: p-l !default;
$pad-both: p-x !default;
$pad-all: p-a !default;
$pad-top: p-t !default;
$pad-bottom: p-b !default;
$pad-tb: p-u !default;
$mar-right: m-r !default;
$mar-left: m-l !default;
$mar-both: m-x !default;
$mar-all: m-a !default;
$mar-top: m-t !default;
$mar-bottom: m-b !default;
$mar-tb: m-u !default;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: rgba(0, 0, 0, .8);
$pure_white: #fff;
// Navbar
$navbar-default-bg: #fff;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$forground: #424242;
// Panels
$panel-default-heading-bg: #fff;
$input-theme-focus: lighten($forground, 25%);

/*** Global ***/

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Text fluid
$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;
$break-small: 768px;
$break-large: 992px;




// theme variables
$link-color: #469b36;
$theme-blue: #3242d6;
$theme-yellow: #ffd740;
//$black: #000000;
$blue: #007bff;
$indigo: #6610f2;
$vergendi: #0176a3;
$dark-blue: #2d4761;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
//$white: #fff;
$gray: #868e96;
$gray-dark: #343a40;
//$primary: #007bff;
//$secondary: #868e96;
//$success: #28a745;
//$info: #17a2b8;
//$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$light_bluish_grey: #f7f9fb;
$light_grey: #EBEBEB;
$cream_grey: #f5f5f5;
$light_dirt_grey: #e6e6e6;
$mid_grey: rgba(0,0,0,0.5);
$light_mid_grey: rgba(0,0,0,0.25);
$black10: rgba(0,0,0,0.10);
$black20: rgba(0,0,0,0.20);
$black30: rgba(0,0,0,0.30);
$black40: rgba(0,0,0,0.40);
$black60: rgba(0,0,0,0.60);
$black70: rgba(0,0,0,0.70);
$black80: rgba(0,0,0,0.80);
$dark: #343a40;
$navy-blue: #3242d6;
$navy-grey: #696b94;
$mat-green: #1dbe7e;
$mat-green-light: #e6faf4;
$spice-red: #ff584d;
$ratings-gold: #ffa033;
$theme-grey: #a7b1cc;
$theme-light-grey: #d3d8e6;
$theme-light-border: #e5ebfa;
$theme-light: #F4F5FE;
$mat-blue: #458ae6;
$forest_green: #487e38;

$active_color: #4eb279;
$inactive_color: #fa5252;

$selected_green: #12b372;
$selected_green_bg: #fafffd;

$view_active_green: #14911f;
$compare_table_header: #ebeef5;

$status-orange: #e97051;
$status-red: #fa5252;
$status-blue: #4091fd;
$status-green: #12b886;


//$theme-color: #3242d6; // Old
$theme-color: #4373f5;
$theme-font-color: #2f38f1;
$theme-color-light: lighten($theme-color, 10%);
$theme-color-dark: darken($theme-color, 10%);
$theme-color-trans: transparentize($theme-color, .5);
$theme-color-trans-2: transparentize($theme-color, .8);



//FONTS
$font-hind-siliguri: 'Hind Siliguri', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-lato: "Lato", sans-serif;
//$theme-font: $font-rubik;
$theme-font: 'Poppins', sans-serif;
$font-poppins: "Poppins", sans-serif;
$border-color:#f5f7fc;


/* Header font */
$fs-header-1: 40px;
$fs-header-2: 32px;
$fs-header-3: 24px;
$fs-header-4: 20px;
$fs-header-5: 16px;
$fs-header-6: 20px;


/* Font weight */
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 900;


.h1-title {
  font-size: $fs-header-1;
  font-weight: $font-weight-bold;
}

.h2-title {
  font-size: $fs-header-2;
  font-weight: $font-weight-bold;
}

.h3-title {
  font-size: $fs-header-3;
  font-weight: $font-weight-bold;

  &--regular-weight {
    font-weight: $font-weight-regular;
  }
}

.h4-title {
  font-size: $fs-header-4;
  font-weight: $font-weight-bold;

  &--semibold-weight {
    font-weight: $font-weight-semiBold;
  }
}

.h5-title {
  font-size: $fs-header-5;
  font-weight: $font-weight-bold;
}

.h6-title {
  font-size: $fs-header-6;
  font-weight: $font-weight-bold;

  &--regular-weight {
    font-weight: $font-weight-regular;
  }

  &--medium-weight {
    font-weight: $font-weight-medium;
  }

  &--semibold-weight {
    font-weight: $font-weight-semiBold;
  }
}



$primary: #4373f5;
$secondary: #ff8f5e;
$grey-medium: #bbc0cc;
$grey-light: #f7f9fc;
$success: #12b886;
$error: #fa5252;
$warning: #ffc168;
$info: #3bcceb;
$table-header-dark: #303778;
$input-text-color: rgba(10, 15, 20, 0.75);
$input-focus-border-color: #5a6172;



/* White Colors */
$white: #ffffff;
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);

/* Black Colors */
$black: #000000;
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);

/* Overlay Colors */
$overlay-04: rgba(0, 0, 0, 0.4);
$overlay-06: rgba(0, 0, 0, 0.6);
$overlay-25: rgba(0, 0, 0, 0.25);
$overlay-15: rgba(0, 0, 0, 0.15);

