@import "../../../../../../src/scss/variables";

:host ::ng-deep {
  .mat-header-row {
    background-color: #a7b1cc;
  }

  #table {
    thead {
      tr {
        th.mat-header-cell {
          font-size: 14px;
          font-weight: 500;
          padding: 16px 20px !important;
        }
      }
    }
    tbody {
      tr {
        td.mat-cell {
          font-size: 14px;
          padding: 16px 20px !important;

        }
      }
    }

    #actionsColumnContent {
      text-align: right;
    }
  }
}

.main-content-block {
  padding: 0 0 40px;
}

.main-content-table {
  .support-status {
    width: 60px;
    height: 18px;
    margin: 0;
    font-size: 12px;
    color: $white;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    padding: 0 !important;
    text-transform: capitalize;
    &.open {
      background-color: #ff8219;
    }
    &.closed {
      background-color: #12b886;
    }
  }

  .navigate-arrow-icon {
    i {
      color: $theme-font-color;
      font-size: 28px;
    }
  }
}

.pointer{
  cursor: pointer;
}

