
@media only screen and (max-width: 600px) {
  .Find-any-work-online {
    min-width: 278px;
    font-size: 40px !important;
    line-height: 1.2 !important;
    letter-spacing: normal !important;
  }
  .sWorkxyz-helps-busi {
    font-size: 14px!important;
    line-height: 1.71 !important;
    letter-spacing: 0.25px !important;
  }
}
.tender-cover{
  max-width: 1211px;
  height: 297px;
  background-color: #f8fafc;
  object-fit: contain;
}
.header-text{
  max-width: 859px;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: center;
  color: var(--black);
  margin-bottom: 30px;
}
.header-description {
  max-width: 628px;
  font-family: Poppins;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.29px;
  text-align: center;
  color: var(--black);
}
.example-button-row button {
  display: table-cell;
  margin-top: 15px;
}
.button-row-desk{
  margin-right: 30px;
}
.BG {
  width: 220px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
button {
  width: 153px;
  height: 24px;
}
.Rectangle {
  width: 220px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary);
}
.play {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  object-fit: contain;
}
.illustration-1 {
  max-width: 100%;
  max-height: 297px;
  object-fit: contain;
}
.bg-color{
  background-color: #f8fafc;
}
.WBG {
  width: 220px;
  height: 50px;
  border-radius: 10px;
 // background-color: var(--primary);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}
.cover-image{
  margin-top: 15px;
}
