@import "../../../../../../../../src/scss/variables";


.order-timeline-tab {
  padding: 30px 0;

  &__section-title {

    color: $black80;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 0;
  }

}

.timeline {
  width:100%;
  background:#fff;
  padding: 60px 50px 10px 100px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 60px;
    left:calc(8% + 86px);
    bottom: 90px;
    width: 1px;
    background: #d3d8e6;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 8%;
    padding-right: 30px;
    text-align: left;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #12b886;
      border-radius:100%;
      top: 0;
      right: -7px;
    }
    h3 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 5px;
      margin: 0;
    }

    span {
      color: rgba(0, 0, 0, 0.4);
      font-size: 14px;
    }
  }
  .body {
    margin-bottom: 50px;
    float: right;
    width: 91%;
    padding-left: 40px;
    h6 {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
    }

    p {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.6);
      padding-bottom: 5px;
      margin: 0;
    }

  }
}
